<style media="screen">
.card-1 .card__body {
  border-bottom: 1px solid #ececec;
   padding-bottom: 0.30em;
   margin-bottom: 0.65em;
}
.label {
  min-width: 0;
  font-size: 8.5px;
}
</style>


<div class="masonry__container">
    <div class="masonry__item col-sm-4"></div>


    <div class="masonry__item col-sm-4" data-masonry-filter="Education">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/1.png")%>" data-lightbox="true">
            	<%= image_tag("rise_assets/data-center/asian_education/thumb/1.png", alt:"Image")%>
            </a>
            <p>
              <strong>Asia-Americans</strong>
            </p>

            <p class="no-margin small">
              Professor in <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </p>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">PHD</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Education</span>
            <small class=""></small>
          </div>
        </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="Health">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/2.png")%>" data-lightbox="true">
            	<%= image_tag("rise_assets/data-center/asian_education/thumb/2.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Health</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="Workforce Development">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/3.png")%>" data-lightbox="true">
            	<%= image_tag("rise_assets/data-center/asian_education/thumb/3.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>

            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Workforce Development</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="Juvenile and Criminal Justice">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/4.png")%>" data-lightbox="true">
            	<%= image_tag("rise_assets/data-center/asian_education/thumb/4.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Juvenile and Criminal Justice</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="Human Services and Social Policy">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
            	<%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Human Services and Social Policy</span>
          </div>
      </article>
    </div>

    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="Human Services and Social Policy">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
              <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Human Services and Social Policy</span>
          </div>
      </article>
    </div>

    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="Human Services and Social Policy">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
              <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Human Services and Social Policy</span>
          </div>
      </article>
    </div>


    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="Human Services and Social Policy">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
              <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Human Services and Social Policy</span>
          </div>
      </article>
    </div>

    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="Human Services and Social Policy">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
              <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Human Services and Social Policy</span>
          </div>
      </article>
    </div>

    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="Human Services and Social Policy">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
              <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Human Services and Social Policy</span>
          </div>
      </article>
    </div>

    <div class="masonry__item col-sm-4" data-masonry-filter="Human Services and Social Policy">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
              <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Human Services and Social Policy</span>
          </div>
      </article>
    </div>


    <div class="masonry__item col-sm-4" data-masonry-filter="Human Services and Social Policy">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
              <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
            </a>
            <p>
              <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
            </p>
            <h6 class="no-margin">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Human Services and Social Policy</span>
          </div>
      </article>
    </div>
</div>
<!--end of masonry container-->
