
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h4 class="color--orange title-font-alt"> about the academy</h4>
        <hr class="" style="width: 20%;"/>
        <h2 class="color--orange">We invite Native American, Black, Latino, Asian American and Pacific Islander undergraduate
         men who are presently in their junior year to apply for participation in our Grad Prep
         Academy.</h2>
        <h4 class="">
           The RISE Grad Prep Academy is a project that prepares scholars for doctoral study and research-related careers
           in the five RISE fields: education, health, human services and social policy, juvenile and
           criminal justice, and workforce development.
        </h4>
        <br/>
        <p>
          <a href="#application" class="btn">Learn More about Grad Prep Academy</a>
        </p>
      </div>
      <div class="col-md-4">
        <br/><br/><br/><br/>
        <%= image_tag("fieldscans/fs1/hero.jpg", class: "border--round box-shadow-wide")%>
      </div>
    </div>
  </div>
</section>


<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <br/><br/><br/>
        <%= image_tag("http://aux.usc.edu/wp-content/uploads/2016/08/01_usc_village_910x510.jpg", class: "border--round box-shadow-wide")%>
        <%= image_tag("https://www.visittheusa.com/sites/default/files/styles/hero_m_1300x700/public/images/hero_media_image/2017-01/Getty_515070156_EDITORIALONLY_LosAngeles_HollywoodBlvd_Web72DPI_0.jpg?itok=07A4oA_a", class: "border--round box-shadow-wide")%>
        <%= image_tag("http://defendernetwork.com/wp-content/uploads/2017/03/14465878096528.jpg", class: "border--round box-shadow-wide")%>

      </div>
      <div class=" col-md-offset-1 col-md-7">
        <h4 class="color--orange title-font-alt">the opportunity</h4>
        <hr class="" style="width: 20%;"/>
        <h2 class="color--orange">This program includes a four-day visit to the University of Southern California. We will select
       32 juniors and cover all their travel expenses, lodging, and meals.</h2>
        <h4>
           During their visit to our campus in November 2016, the selected scholars will learn more about
           applying to and succeeding in graduate school; meet our faculty and hear about their research
           projects; interact with our graduate students and alumni; and tour Los Angeles.
        </h4>
        <h4>
          We will also pay for Academy participants to take a four-week Kaplan course valued at $1,200
          to prepare for the Graduate Record Exam (the GRE is required for admission to most graduate
          programs). Additionally, each Academy participant will be paired with a current male Ph.D.
          student of color who will offer mentoring throughout the graduate school application process,
          feedback on essays and other application materials, and advice on where to apply and
          ultimately enroll.
        </h4>
        <h5 class="no-margin type--bold">Important Note:</h4>
        <h4>
          Academy participation in no way guarantees eventual admission to the University of Southern
          California. If not at USC, our larger aim is for all 32 scholars to enroll in highly selective
          graduate programs at top research universities in Fall 2018, immediately upon completion of
          their bachelor’s degrees.
        </h4>
        <br/>
        <p>
          <a href="#application" class="btn">Apply to Grad Prep Academy</a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h4 class="color--orange title-font-alt">History & Background</h4>
        <hr class="" style="width: 20%;"/>
        <h2 class="color--orange">The Grad Prep Academy was created in 2009 at the University of Pennsylvania for Black
        undergraduate men interested in earning the Ph.D. in education. </h1>
        <h2>
        <h4>
          The expanded version now
          includes men of color from other racial/ethnic groups and extends into the other four RISE
          fields. Participation in this project is limited to undergraduate men of color in their junior
          year – those who started their junior year of college in Fall 2017 and anticipate earning
          bachelor’s degrees at the end of Spring 2019.
          <!-- Click here to download a report about the original version of the Academy [PDF]. -->
        </h4>
        <br/>
        <p>
          <a href="#application" class="btn">View the Application Process</a>
        </p>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <br/><br/><br/><br/><br/>
        <%= image_tag("https://www.kaptest.com/blog/med-school-insight/wp-content/uploads/sites/19/2015/04/iStock_000047868696_Large.jpg", class: "border--round box-shadow-wide")%>
      </div>
    </div>
  </div>
</section>

<section id="application" class="bg--primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="title-font-alt" style="color: orange;">the grad prep academy Application </h4>
        <hr class="center" style="width: 20%;"/>
        <h2 class="">
          Applications are invited from college juniors across all majors, not just the
          five RISE fields.
        </h2>
      </div>
    </div>
    <h4 class="text-center">
      <strong>Primary Contacts:</strong>
    </h4>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="row text-center">
          <div class="col-md-6">
            <h4>
            <span class="type--bold color--yellow">Michael Ishimoto</span><br/>
            mishimoto@ucla.edu</h4>
          </div>
          <div class="col-md-6">
            <h4>
              <span class="type--bold color--yellow">Oscar Patron</span><br/>
              osp3@pitt.edu
            </h4>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <br/>
    <div class="row">
      <div class="col-md-6">

        <h3 class="type--bold" style="color: orange;">Who is eligibile?</h3>
        <h4 class="type--fade">
          This program is not intended for students  who are interested in pursuing degrees like the M.D., J.D., MBA, or
          Ed.D., but instead is for those who are serious about earning a Ph.D. and eventually
          becoming researchers.
        </h4>
        <h4 class="type--fade">
          Applications are invited from college juniors across all majors, not just the
          five RISE fields.
        </h4>
        <h4 class="type--fade">
          Only those who have intellectual interests that are somehow related to the RISE fields
          should apply.
        </h4>

        <h3 class="type--bold" style="color: orange;">What is the deadline?</h3>
        <h4 class="type--bold type--fade">Deadline: March 2nd 11:59pm PST</h4>
        <h4 class="type--fade">
          All application materials must be submitted electronically no later than 11:59pm (PST) on March 2nd. Please direct all questions to info@risebmoc.org.
        </h4>

        <h3 class="type--bold" style="color: orange;">What is the application process?</h3>
        <h4 class="type--fade">
          The application process consist of three parts. Applicants will first provide general information (name, contact information, etc.) about their personal and academic background.
          Second, applicants will be asked to submit an essay and lastly, will provide two references to support their candidacy for the program.

        </h4>

      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3 class="type--bold no-margin" style="color: orange;">Required Items</h3>
        <hr/>
        <h4 class="type--bold no-margin">1. Essay Question (750 words maximum):</h4>
        <br/>
        <ol class="type--fade" style="font-weight: lighter; font-size: 1.3rem; line-height: 1.9rem; color: #fff; opacity: .5">
          <li>What are your intellectual interests and long-term career aspirations relative to one of the five RISE fields, and how were they developed? </li>
          <li>If you had a Ph.D. in one of the RISE fields, what would you do in response to the problems or social phenomena that concern you most? How would your racial/ethnic group and our broader society benefit from research you would conduct after earning your Ph.D.?</li>
          <li>Which three RISE Principles would you commit your career to addressing?</li>
        </ol>

        <hr/>

        <h4 class="type--bold">2. References</h4>
        <ul class="type--fade" style="list-style-type: disc; padding-left: 30px; font-weight: lighter; font-size: 1.3rem; line-height: 1.9rem; color: #fff; opacity: .5">
          <li>Each applicant is required to submit two references. RISE will contact these individuals to better assess
          the eligibility and potential for each candidate.</li>
          <br/>
          <li>(Information to be provided: Name, College or university, Title, Office phone, E-mail)</li>
        </ul>
      </div>
    </div>

    <br/>


    <div class="feature feature-5 bg--transparent boxed boxed--lg box-shadow-light">
      <div class="row  text-center">
        <div class="col-md-6">
          <h1 class="type--bold no-margin" style="color: orange;">
            Ready to Apply?
          </h1>
          <p class="lead">
            Please be prepared to submit your essay and references.</p>
          <p>
        </div>
        <div class="col-md-6">
          <br/>
          <p>
            <%= link_to "Launch Grad Prep Academy Application", pages_grad_prep_application_path, class: "no--border btn btn--lg btn-block bg--orange color--white" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="no-margin"/>
