<div class="nav-container ">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="index.html">
                        <%= image_tag("rise_assets/hero_head/logo_icon/icon-nav/logoicon-nav-white.svg", class:"logo logo-light")%>
                        <%= image_tag("rise_assets/hero_head/logo_icon/icon-nav/logoicon-nav-white.svg", class:"logo logo-dark")%>
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                        <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu1" class="bar bar--sm bar-1 hidden-xs bar--absolute bar--transparent">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-2 hidden-xs">
                    <div class="bar__module">
                        <a href="index.html">
                          <%= image_tag("rise_assets/hero_head/logo_icon/icon-nav/logoicon-nav-white.svg", class:"logo logo-light")%>
                          <%= image_tag("rise_assets/hero_head/logo_icon/icon-nav/logoicon-nav-white.svg", class:"logo logo-dark")%>
                        </a>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">
                            <li class="dropdown">
                                <%= link_to "About", pages_about_path %>
                            </li>
                            <li class="dropdown">
                                <%= link_to "Data Center", data_center_soon_path %>
                            </li>
                            <li class="dropdown">
                                <%= link_to "Search Experts", pages_about_path %>
                            </li>
                            <li class="dropdown">
                                <%= link_to "Issue Briefs", pages_about_path %>
                            </li>
                            <li class="dropdown">
                                <%= link_to "Research", pages_research_path %>
                            </li>
                        </ul>
                    </div>
                    <!--end module-->
                    <div class="bar__module">

                    </div>
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</div>
