
<nav id="menu1" class="bar bar--sm bar-1 hidden-xs hiddem-sm bar--absolute bar--transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-2 hidden-xs">
                <div class="bar__module">
                    <a href="index.html">
                      <%= image_tag("rise_assets/hero_head/logo_icon/icon-nav/logoicon-nav-white.svg", class:"logo logo-light")%>
                      <%= image_tag("rise_assets/hero_head/logo_icon/icon-nav/logoicon-nav-white.svg", class:"logo logo-dark")%>
                    </a>
                </div>
                <!--end module-->
            </div>
            <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                <div class="bar__module">
                  <ul class="menu-horizontal text-left">

                    <%= render "layouts/shared/header_links/about_us" %>

                    <%= render "layouts/shared/header_links/research" %>

                    <%= render "layouts/shared/header_links/expert_directory" %>

                    <%= render "layouts/shared/header_links/data_center" %>

                  </ul>
                </div>
                <!--end module-->
                <div class="bar__module">
                    <a class="btn btn--sm type--uppercase" href="#">
                        <span class="btn__text color--white">
                          Search Experts
                        </span>
                    </a>
                    <a class="btn btn--sm type--uppercase" href="#">
                        <span class="btn__text">
                            Data Center
                        </span>
                    </a>
                </div>
                <!--end module-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</nav>
<!--end bar-->
