<section class="unpad">
  <div class="imagebg bg--primary text-center height-40" data-overlay="8">
    <div class="background-image-holder">
      <%= image_tag("rise_assets/home/Issue Briefs/yu/hero-feature-yu/hero-feature-yu@2x.png") %>
    </div>
    <div class="container">
      <br/>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h1>Where are our American Indian / Alaskan Native Boys and Young Men?</h1>
            <hr/>
            <h4>Newest Publication</h4>
            <p>
              <a href="#" class="btn btn--lg">View Brief</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="article__body">
          <p class="lead">RISE aims to impact the lives of boys and men of color through knowledge production. Here, you will find forward-thinking research grounded in the RISE principles, by thought leaders who focus on the experience of Asian Americans and Pacific Islanders, Blacks, Latinos, and Native Americans. Within these publications are examinations of phenomena and relevant issues that affect the experiences of boys of color within the five RISE fields (education, health, human services and policy, juvenile and criminal justice, and workforce development). The goal of these works is to model how research can be used to make substantative change on behalf of boys and men of color and provide new ways of approaching challenges they face.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="8">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/home/Issue Briefs/yu/hero-feature-yu/hero-feature-yu@2x.png") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <span>Issue Brief</span>
                        <hr class=""/>
                        <h3>
                          Where are our American Indian / Alaska Native boys and Young Men?
                        </h3>
                        <h5>by Villegas</h5>
                        <p>
                          <a href="#" class="btn btn--lg">View Brief</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="8">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/feature-1/1.jpg") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <span>Issue Brief</span>
                    <hr class=""/>
                    <h3>
                      Where are our American Indian / Alaska Native boys and Young Men?
                    </h3>
                    <h5>by Villegas</h5>
                    <p>
                      <a href="#" class="btn btn--lg">View Brief</a>
                    </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="8">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/feature-1/1.jpg") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <span>Issue Brief</span>
                      <hr class=""/>
                      <h3>
                        Where are our American Indian / Alaska Native boys and Young Men?
                      </h3>
                      <h5>by Villegas</h5>
                      <p>
                        <a href="#" class="btn btn--lg">View Brief</a>
                      </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="8">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/feature-1/1.jpg") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <span>Issue Brief</span>
                      <hr class=""/>
                      <h3>
                        Where are our American Indian / Alaska Native boys and Young Men?
                      </h3>
                      <h5>by Villegas</h5>
                      <p>
                        <a href="#" class="btn btn--lg">View Brief</a>
                      </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="8">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/feature-1/1.jpg") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <span>Issue Brief</span>
                      <hr class=""/>
                      <h3>
                        Where are our American Indian / Alaska Native boys and Young Men?
                      </h3>
                      <h5>by Villegas</h5>
                      <p>
                        <a href="#" class="btn btn--lg">View Brief</a>
                      </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
