
<section class="bg--white">
  <div class="container">
    <h4 class="text-center title-font-alt">You May Also Like...</h4>
    <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-4">
            <%= link_to fieldscans_fs1_path do %>
              <%= image_tag("fieldscans/fs1/fs1.png", class: "box-shadow-light") %>
            <% end %>
          </div>
          <div class="col-lg-4">
            <%= link_to fieldscans_fs2_path do %>
              <%= image_tag("fieldscans/fs2/fs2.png", class: "box-shadow-light") %>
            <% end %>
          </div>
          <div class="col-lg-4">
            <%= link_to fieldscans_fs3_path do %>
              <%= image_tag("fieldscans/fs3/fs3.png", class: "box-shadow-light") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
