<li class="dropdown">
  <span class="dropdown__trigger">About Us</span>
  <div class="dropdown__container">
    <div class="container">
      <div class="row">
        <div class="dropdown__content dropdown__content--md col-md-5">
          <div class="pos-absolute col-md-6 imagebg hidden-sm hidden-xs bg--primary" data-overlay="7">
              <div class="background-image-holder">
                  <%= image_tag("rise_assets/ideation-challenge/hero-ideation-challenge.png")%>
              </div>
              <div class="container pos-vertical-center">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <span class="h3 color--white">Explore Rise.org and our Work</span>
                          <a href="#" class="btn type--uppercase">
                              <span class="btn__text">
                                Learn More
                              </span>
                          </a>
                      </div>
                  </div>
                  <!--end of row-->
              </div>
          </div>
          <div class="col-md-6 col-md-offset-7">
            <div class="row">
              <div class="col-sm-6">
                <h5>About Us</h5>
                <ul class="menu-vertical">
                  <li>
                      <%= link_to "Home", root_path %>
                  </li>
                  <li>
                        <%= link_to "About", pages_about_path %>
                    </li>
                    <li>
                        <%= link_to "Grad Preparation", pages_grad_prep_path %>
                    </li>
                    <li>
                        <%= link_to "Ideation Challenge", pages_ideation_challenge_path %>
                    </li>
                    <li>
                        <%= link_to "Research", pages_research_path %>
                    </li>
                    <li>
                        <%= link_to "The Pledge", pages_the_pledge_path %>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
