<li class="dropdown">
  <span class="dropdown__trigger">Research</span>
  <div class="dropdown__container">
    <div class="container">
      <div class="row">
        <div class="dropdown__content dropdown__content--md col-md-12">
            <div class="pos-absolute col-md-5 imagebg hidden-sm hidden-xs bg-gradient-video" data-overlay="9">
              <div class="background-image-holder">
                  <%= image_tag("rise_assets/issue_briefs/smedley/hero.png") %>
              </div>
              <div class="container pos-vertical-center">
                  <div class="row">
                      <div class="col-xs-10 col-xs-offset-1">
                          <span class="h3 color--white type--bold">Forward-thinking. Principled.</span>
                          <p class="lead">Examinations of phenomena and relevant issues affecting boys and men of color.</p>
                          <p>
                            <!-- <i class="material-icons color--white">&#xE315;</i> -->
                            <span><%= link_to "Issue Briefs", issues_home_path, class: "btn" %><span>
                            <span><%= link_to "Field Scans", fieldscans_home_path, class: "btn" %><span>
                          </p>
                      </div>
                  </div>
                  <!--end of row-->
              </div>
          </div>
          <div class="col-md-7 col-md-offset-5">
            <h4 class="no-margin">Our Research</h4>
            <hr/>
            <div class="row">
              <div class="col-sm-6">
                <ul class="menu-vertical issues">
                  <!-- <li>
                      <%#= link_to issues_home_path do %>
                        <h5>RISE Research Home</h5>
                      <%# end %>
                  </li> -->
                  <li>
                      <%= link_to issues_post6_path do %>
                        <h5>Asian American and Pacific Islander Boys and Men: The Risk of Being Missed in the U.S. 2020 Census</h5>
                        <p class="no-margin title-font-alt">by Neil Horikoshi, Terry Ao Minnis</p>
                      <% end %>
                  </li>
                  <li>
                      <%= link_to issues_post1_path do %>
                        <h5>Where are our american indian/alaskan native boys and young men?</h5>
                        <p class="no-margin title-font-alt">by Villegas</p>
                      <% end %>
                  </li>
                  <li>
                      <%= link_to issues_post2_path do %>
                        <h5>Advancing Culturally Responsive Evaluations for Boys and Men of Color</h5>
                        <p class="no-margin title-font-alt">by Yu, Lewis-Charp, Inouye</p>
                      <% end %>
                  </li>

                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="menu-vertical issues">
                  <li>
                      <%= link_to issues_post3_path do %>
                      <h5>Expanding Access to High Opportunity Neighborhoods for Boys and Men of Color</h5>
                      <p class="no-margin title-font-alt">by Smedley</p>
                      <% end %>
                  </li>
                  <li>
                      <%= link_to issues_post4_path do %>
                        <h5>Tools for Addressing the Disproportionate Discipline of Boys of Color in Schools</h5>
                        <p class="no-margin title-font-alt">by Godsil</p>
                      <% end %>
                  </li>
                  <li>
                      <%= link_to issues_post5_path do %>
                        <h5>The Significance of Data Disaggregation in the Study of Boys and Men of Color</h5>
                        <p class="no-margin title-font-alt">by Tarenishi, Nguyen</p>
                      <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
