<li class="dropdown">
  <span class="dropdown__trigger">Research</span>
  <div class="dropdown__container">
    <div class="container">
      <div class="row">
        <div class="dropdown__content dropdown__content--md col-md-10">
          <div class="pos-absolute col-md-4 imagebg hidden-sm hidden-xs bg--primary" data-overlay="7" data-gradient-bg="#FFB140,#FFD597,#F3A183,#5f2c82">>
              <div class="background-image-holder">
                  <%= image_tag("rise_assets/home/cb_1_featured_content/feat3/expert-sqr.png")%>
              </div>
              <div class="container pos-vertical-center">
                  <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                          <span class="h3 color--white">Forward-thinking. Principled.</span>
                          <a href="<%= issues_home_url %>" class="btn type--uppercase">
                              <span class="btn__text">
                                Learn More
                              </span>
                          </a>
                      </div>
                  </div>
                  <!--end of row-->
              </div>
          </div>
          <div class="col-md-8 col-md-offset-4">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="no-margin">Our Research</h4>
                <hr/>
                <ul class="menu-vertical">
                    <li>
                      <%= link_to "RISE Research Home", issues_home_path %>
                    </li>
                    <li>
                        <%= link_to "Where are our american indian/alaskan native boys and young men?", issues_post1_path %>
                    </li>
                    <li>
                        <%= link_to "Advancing Culturally Responsive Evaluations for Boys and Men of Color", issues_post2_path %>
                    </li>
                    <li>
                        <%= link_to "Expanding Access to High Opportunity Neighborhoods for Boys and Men of Color", issues_post3_path %>
                    </li>
                    <li>
                        <%= link_to "Tools for Addressing the Disproportionate Discipline of Boys of Color in Schools", issues_post4_path %>
                    </li>
                    <li>
                        <%= link_to "The Significance of Data Disaggregation in the Study of Boys and Men of Color", issues_post5_path %>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
