
<section class="bg--secondary">
  <div class="container">
    <h4 class="text-center title-font-alt">You May Also Like...</h4>
    <br/>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-lg-4">
            <%= link_to issues_post5_path do %>
              <div class="imagebg height-30 border--round bg-gradient-issue-brief-card  boxed boxed--sm" data-overlay="9">
                <div class="background-image-holder">
                    <%= image_tag("rise_assets/issue_briefs/teranishi/hero.png") %>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                      <div class="col-sm-12">
                          <h4>
                            The Significance of Data Disaggregation in the Study of Boys and Men of Color
                          </h4>
                          <hr/>
                          <h5 class="title-font-alt">by Tarenishi, Nguyen</h5>
                      </div>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-lg-4">
            <%= link_to issues_post3_path do %>
              <div class="imagebg height-30 border--round bg-gradient-issue-brief-card  boxed boxed--xs" data-overlay="9">
              <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/smedley/hero.png") %>
              </div>
              <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>
                      Expanding Access to High Opportunity Neighborhoods for Boys and Men of Color
                    </h4>
                    <hr/>
                    <h5 class="title-font-alt">by Smedley</h5>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="col-lg-4">
            <%= link_to issues_post1_path do %>
              <div class="imagebg height-30 border--round bg-gradient-issue-brief-card boxed boxed--sm" data-overlay="9">
                <div class="background-image-holder ">
                  <%= image_tag("rise_assets/issue_briefs/yu/hero.png") %>
                </div>
                <div class="container pos-vertical-center">
                  <div class="row">
                    <div class="col-sm-12">
                      <h4>
                        Advancing Culturally Responsive Evaluations for Boys and Men of Color
                      </h4>
                      <hr/>
                    <h5 class="title-font-alt">by Villegas</h5>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
