<section id="features" class="bg--secondary">
    <div class="container">
      <div class="text-center height0">
        <h2 class="color--orange"> We focus on 5 Strategic Fields of Research
        </h2>
        <p class="lead">
          A repository of more than 400 downloadable open-source charts.
        </p>
      </div>
      <br/><br/>
        <div class="row">
            <div class="col-sm-6">
                <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border box-shadow">
                    <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-education.svg")%>
                    <div class="feature__body">
                        <h4>Education</h4>
                        <p>
                            Aid success by taking asset-based approach to improving student and learning experiences.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border box-shadow">
                    <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-workforce.svg")%>
                    <div class="feature__body">
                        <h4>Workforce Development</h4>
                        <p>
                            Evidence-based practices, data, and assessment that improve life outcomes and quality of care.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border box-shadow">
                    <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-health.svg")%>
                    <div class="feature__body">
                        <h4>Health</h4>
                        <p>
                            Evidence-based practices, data, and assessment that improve life outcomes and quality of care.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
              <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border box-shadow">
                  <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-social.svg")%>
                  <div class="feature__body">
                    <h4>Human Services & Social Policy</h4>
                    <p>
                      Evidence-based practices, data, and assessment that improve life outcomes and quality of care.
                    </p>
                  </div>
              </div>
            </div>

          <div class="col-sm-6">
              <div class="feature feature--featured feature-5 boxed boxed--lg boxed--border box-shadow">
                  <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-justice.svg")%>
                  <div class="feature__body">
                    <h4>Juvenile & Criminal System</h4>
                    <p>
                        Aid success by taking asset-based approach to improving student and learning experiences.
                    </p>
                  </div>
              </div>
          </div>

          <div class="col-sm-6">
              <div class="feature feature-5 boxed boxed--lg boxed--border  bg--primary bg--dark">
                  <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-workforce.svg")%>
                  <div class="feature__body">
                      <h4>Workforce Development</h4>
                      <p>
                          Evidence-based practices, data, and assessment that improve life outcomes and quality of care.
                      </p>
                  </div>
              </div>
          </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
