<section id="research" class="bg--primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <div class=" height0">
            <h1 class="color--orange"> RISE Strategic Fields of Research</h1>
            <hr/>
            <h4 class="">
              We focus on five strategic fields of research to better understand and stratgically improve the lives, experiences, and outcomes of boys and men of color.
            </h4>
          </div>
        </div>
      </div>
      <br/>
        <div class="row">
            <div class="col-sm-6">
                <div class="feature feature--featured feature-5 bg--white boxed boxed--lg ">
                    <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-education.svg", class: "no-margin")%>
                    <div class="feature__body">
                        <h4>Education</h4>
                        <p class="no-margin">
                            Aid success by taking asset-based approach to improving student and learning experiences.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="feature feature--featured feature-5 bg--white boxed boxed--lg">
                    <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-workforce.svg" , class: "no-margin")%>
                    <div class="feature__body">
                        <h4>Workforce Development</h4>
                        <p class="no-margin">
                            Evidence-based practices, data, and assessment that improve life outcomes and quality of care.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="feature feature--featured feature-5 bg--white boxed boxed--lg">
                    <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-health.svg" , class: "no-margin")%>
                    <div class="feature__body">
                        <h4>Health</h4>
                        <p class="no-margin">
                            Evidence-based practices, data, and assessment that improve life outcomes and quality of care.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
              <div class="feature feature--featured feature-5 bg--white boxed boxed--lg">
                  <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-social.svg", class: "no-margin")%>
                  <div class="feature__body">
                    <h4>Human Services & Social Policy</h4>
                    <p class="no-margin">
                      Evidence-based practices, data, and assessment that improve life outcomes and quality of care.
                    </p>
                  </div>
              </div>
            </div>

          <div class="col-sm-6">
              <div class="feature feature--featured feature-5 bg--white boxed boxed--lg">
                  <%= image_tag("rise_assets/home/cb_6_rise_fields/glyph-justice.svg" , class: "no-margin")%>
                  <div class="feature__body">
                    <h4>Juvenile & Criminal System</h4>
                    <p class="no-margin">
                        Aid success by taking asset-based approach to improving student and learning experiences.
                    </p>
                  </div>
              </div>
          </div>

          <div class="col-sm-6">
              <a href="3">
                <div class="feature feature-5 bg--primary boxed boxed--xs box-shadow-dark">
                  <div class="row">
                    <div class="col-md-8">
                      <h4 class="no-margin color--yellow">Click here to learn more about the RISE organization, our research and community outreach.</h3>
                    </div>
                    <div class="col-md-4">
                      <br/>
                      <a href="#" class="btn--block btn color--yellow btn-large"/>About RISE</a>
                    </div>
                  </div>
                </a>
              </div>
          </div>

        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
