<section class="bg--secondary height-120" data-overlay="0">
  <div class="container ">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <h1 class="color--orange"> Rise Spans 5 Core Fields of Study</h1>
        <p class="lead">
         To better understand and strategically imporve the lives, experiences, and outcomes of boys and men of color.
        </p>
        <br/>
      </div>
    </div>
    <hr/>
    <!--end of row-->
    <br/><br/>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="feature feature-3 text-center">
          <%= image_tag("rise_assets/home/bc_6_rise_fields/glyph-education.svg")%>
          <h3>Education</h3>
          <p class="lead">
            Aid success by taking asset-based approach to improving student and learning experiences.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-3 text-center">
          <%= image_tag("rise_assets/home/bc_6_rise_fields/glyph-health.svg")%>
          <h3>Health</h3>
          <p class="lead">
              Evidence-based practices, data, and assessment that improve life outcomes and quality of care.
          </p>
        </div>
        <!--end feature-->
      </div>
      <div class="col-sm-4">
        <div class="feature feature-3">
          <%= image_tag("rise_assets/home/bc_6_rise_fields/glyph-workforce.svg")%>
          <h3>Workforce Development</h3>
          <p class="lead">
              Combine blocks from a range of categories to build pages that are rich in visual style and interactivity
          </p>
        </div>
        <!--end feature-->
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row text-center">
          <div class="col-sm-6">
            <div class="feature feature-3  text-center">
              <%= image_tag("rise_assets/home/bc_6_rise_fields/glyph-social.svg")%>
              <h3>Human Services & Social Policy</h3>
              <p class="lead">
                  Combine blocks from a range of categories to build pages that are rich in visual style and interactivity
              </p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="feature feature-3 ">
              <%= image_tag("rise_assets/home/bc_6_rise_fields/glyph-justice.svg")%>
              <h3>Juvenile & Criminal System</h3>
              <p class="lead">
                  Combine blocks from a range of categories to build pages that are rich in visual style and interactivity
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
