<hr class="border--grey no-margin"/>
<section id="follow_us" class="">
  <div class="container">
    <div class="row height-30">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h4 class="color--orange title-font-alt text-center"> follow us</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">Connect with RISE Online</h1>
        <h4 class="">
            Follow RISE on social media and in the news.
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a href="<%= pages_the_pledge_url %>">
          <div class="bg--twitter height-30 text-center box-shadow-light border-rounded boxed box-shadow-hover">
            <div class="pos-vertical-center">
              <p><%= image_tag("rise_assets/home/cb_8_social_media_and_promo/twitter.png" , height: "50")%></p>
              <h3 class="title-font-alt color--white">Take the <br/>RISE pledge</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a href="<%= pages_the_pledge_url %>">
          <div class="bg--orange height-30 text-center box-shadow-light border-rounded boxed box-shadow-hover">
            <div class="pos-vertical-center">
              <p><%= image_tag("rise_assets/home/cb_1_featured_content/feat1/icon.png", height: "50")%></p>
              <h3 class="title-font-alt color--white">Take the <br/>RISE pledge</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <a href="https://www.instagram.com/uscraceequity/" target="_blank">
          <div class="height-30 text-center box-shadow-light border-rounded boxed box-shadow-hover">
            <div class="pos-vertical-center">
              <p class="">
                <%= image_tag("rise_assets/home/cb_8_social_media_and_promo/instagram.png" , height: "50", class: "")%>
              </p>
              <h3 class="title-font-alt color--purple">Race & Equity <br/>on Instagram</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <%= link_to mailing_list_submit_path do %>
          <div class="imagebg height-30 border--round bg-gradient-blue boxed boxed--sm" data-overlay="">
            <div class="background-image-holder">
              <%= image_tag("rise_assets/mailing-list/mailing-list@2x.png")%>
            </div>
            <div class="pos-vertical-center text-center">
              <p class="">
                <%= image_tag("rise_assets/home/cb_8_social_media_and_promo/instagram.png" , height: "50", class: "")%>
              </p>
              <h3 class="title-font-alt color--yellow">Join Our <br/>Mailing List</h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
