<style media="screen">
.card-1 .card__body {
  border-bottom: 1px solid #ececec;
   padding-bottom: 0.30em;
   margin-bottom: 0.65em;
}
.label {
  min-width: 0;
  font-size: 8.5px;
}
</style>


<div class="masonry__container">
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3"></div>


    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Health">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="#">
              <%= image_tag("rise_assets/expert-directory/photos/aasha-abdill@2x.png", alt:"Image", class:"image--round border--round")%>
            </a>
            <hr class="margin-bottom-10 margin-top-0"/>
            <p>
              <strong>Marilyn	Aguirre-Molina</strong>
            </p>

            <p class="no-margin small">
              City University of New York <br/>
              New York, Latino<br/>
              <a href="http://sph.cuny.edu/people/marilynaguirremolina">Website</a> &nbsp;&nbsp;|&nbsp;&nbsp;
              <a mailto="mailto:marilyn.aguirre-molina@sph.cuny.edu">Email</a>
            </p>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Health</span>
            <small class=""></small>
          </div>
        </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="education">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="#">
              <%= image_tag("rise_assets/expert-directory/photos/aida-hurtado@2x.png", alt:"Image", class:"image--round border--round")%>
            </a>
            <hr class="margin-bottom-10 margin-top-0"/>
            <p>
              <strong>Kenneth	Anderson</strong>
            </p>
            <p class="no-margin small">
              Howard University<br/>
              District of Columbia, Black<br/>
              <a href="https://education.howard.edu/academics/department-curriculum-instruction/faculty-profiles">Website</a> &nbsp;&nbsp;|&nbsp;&nbsp;
              <a mailto="mailto:kenneth.anderson@howard.edu">Email</a>
            </p>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Education</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="education">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="#">
              <%= image_tag("rise_assets/expert-directory/photos/aj-scheitler@2x.png", alt:"Image", class:"image--round border--round")%>
            </a>
            <hr class="margin-bottom-10 margin-top-0"/>
            <p>
              <strong>Dorinda	Andrews</strong>
            </p>
            <p class="no-margin small">
              Michigan State University<br/>
              Michigan, Black<br/>
              <a href="https://education.msu.edu/search/Formview.aspx?email=dcarter%40msu.edu">Website</a> &nbsp;&nbsp;|&nbsp;&nbsp;
              <a mailto="mailto:dcarter@msu.edu">Email</a>
            </p>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Education</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Workforce Development">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="#">
              <%= image_tag("rise_assets/expert-directory/photos/alejandro-carrion@2x.png", alt:"Image", class:"image--round border--round")%>
            </a>
            <hr class="margin-bottom-10 margin-top-0"/>
            <p>
              <strong>Algernon	Austin</strong>
            </p>
            <p class="no-margin small">
              N/ADēmos<br/>
              District of Columbia<br/>
              <a href="http://www.demos.org/algernon-austin">Website</a> &nbsp;&nbsp;|&nbsp;&nbsp;
              <a mailto="mailto:aaustin@demos.org">Email</a>
            </p>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Workforce Development</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Education">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="#">
              <%= image_tag("rise_assets/expert-directory/photos/alfred-young@2x.png", alt:"Image", class:"image--round border--round")%>
            </a>
            <hr class="margin-bottom-10 margin-top-0"/>
            <p>
              <strong>Tracy	Ballysingh</strong>
            </p>
            <p class="no-margin small">
              University of Vermont<br/>
              Vermont, Latino<br/>
              <a href="http://www.uvm.edu/~cess/legacy/cess_profile.php?username=tballysi">Website</a> &nbsp;&nbsp;|&nbsp;&nbsp;
              <a mailto="mailto:Tracy.Ballysingh@uvm.edu">Email</a>
            </p>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Education</span>
          </div>
        </div>
      </article>
    </div>





    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="health">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="#">
              <%= image_tag("rise_assets/expert-directory/photos/allison-brown@2x.png", alt:"Image", class:"image--round border--round")%>
            </a>
            <hr class="margin-bottom-10 margin-top-0"/>
            <p>
              <strong>José	Bauermeister</strong>
            </p>
            <p class="no-margin small">
              University of Pennsylvania<br/>
              Pennsylvania<br/>
              <a href="https://www.nursing.upenn.edu/live/profiles/111-jose-a-bauermeister">Website</a> &nbsp;&nbsp;|&nbsp;&nbsp;
              <a mailto="mailto:bjose@upenn.edu">Email</a>
            </p>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Health</span>
          </div>
      </article>
    </div>
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Education">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="#">
              <%= image_tag("rise_assets/expert-directory/photos/anthony-ocampo@2x.png", alt:"Image", class:"image--round border--round")%>
            </a>
            <hr class="margin-bottom-10 margin-top-0"/>
            <p>
              <strong>Fred	Bonner II</strong>
            </p>
            <p class="no-margin small">
              Prairie View A&amp;M University<BR/>
              Texas, Native American<BR/>
              <a href="http://www.pvamu.edu/education/faculty-staff/fred-bonner/">Website</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a mailto="mailto:fabonner@pvamu.edu">Email</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Education</span>
            </div>
      </article>
    </div>
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Education">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="#">
              <%= image_tag("rise_assets/expert-directory/photos/amanda-tachine@2x.png", alt:"Image", class:"image--round border--round")%>
            </a>
            <hr class="margin-bottom-10 margin-top-0"/>
            <p>
              <strong>LeManuel Bitsóí</strong>
            </p>
            <p class="no-margin small">
              Stony Brook University<br/>
              New York, Native American<br/>
            <a href="http://www.stonybrook.edu/commcms/cdo/about/people.php">Website</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <a mailto="mailto:Lee.Bitsoi@stonybrook.edu">Email</a>
          </p>
        </div>
        <div class="card__bottom">
          <span class="label" style="position: inherit; bottom: 10px !important;">Education</span>
        </div>
      </article>
    </div>
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Education">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="#">
              <%= image_tag("rise_assets/expert-directory/photos/andrew-martinez@2x.png", alt:"Image", class:"image--round border--round")%>
            </a>
            <hr class="margin-bottom-10 margin-top-0"/>
            <p>
              <strong>Bryan	Brayboy</strong>
            </p>
            <p class="no-margin small">
              Arizona State University<br/>
              Arizona<br/>
            <a href="https://isearch.asu.edu/profile/1148916">Website</a> &nbsp;&nbsp;|&nbsp;&nbsp;
              <a mailto="mailto:Bryan.Brayboy@asu.edu">Email</a>
            </p>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Education</span>
          </div>
      </article>
    </div>






</div>
<!--end of masonry container-->
