<style media="screen">
.tabs li:not(.active) {
  opacity: 1;
}
</style>

<%= render "directory/header" %>

<section class="space--sm">
 <div class="container">
   <div class="masonry">
     <div class="row">
       <div class="col-md-6">
         <p class="no-margin">By Field Study</p>
         <h2 class="margin-bottom-10 title-font-alt"> rise experts</h4>
       </div>
       <div class="col-md-6">
         <div class="masonry-filter-container pull-right">
           <span class="title-font-alt">Filter By:</span>
           <div class="masonry-filter-holder">
              <div class="masonry__filters" data-filter-all-text="All Categories"></div>
           </div>
         </div>
       </div>
     </div>
     <!-- <hr class="no-margin"/> -->
     <div class="center">
       <div class="tabs-container" data-content-align="center">
      	<ul class="tabs bg--orange bg--dark">
      		<li class="active">
      			<div class="tab__title">
      				<%= link_to directory_education_path do %>
                <span class="h5">Education</span>
              <% end %>
      			</div>
      		</li>
      		<li>
      			<div class="tab__title">
              <%= link_to directory_health_path do %>
                <span class="h5">Health</span>
              <% end %>
      			</div>
      		</li>
      		<li>
      			<div class="tab__title">
      				<%= link_to directory_human_services_path do %>
                <span class="h5">Human Services</span>
              <% end %>
      			</div>
      		</li>
          <li>
      			<div class="tab__title">
      				<%= link_to directory_workforce_development_path do %>
                <span class="h5">Workforce Development</span>
              <% end %>
      			</div>
      		</li>
          <li>
      			<div class="tab__title">
      				<span class="h5"></span>
              <%= link_to directory_criminal_justice_path do %>
                <span class="h5">Criminal Justice</span>
              <% end %>
      			</div>
      		</li>
      	</ul>
      </div><!--end of tabs container-->
     </div>
      <%= render "directory/search_results" %>
      </div>
    </div>
  </div>
 </section>
