
<section id="advisory_board" class="bg-">

  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <h4 class="color--orange title-font-alt">Advisory Board</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange">Guidance and Expertise to Execute our Vision</h1>
        <h4>
          RISE benefits from the guidance and expertise of 13 advisory board members who represent
          some of the nation’s leading research, evaluation, and community engagement organizations.
          <!-- These board members have done considerable work on boys and men of color and conducted
          numerous evaluations of programs that serve them. -->
         </h4>
       </div>
     </div>
     <br/>
    <div class="row">
      <div class="col-md-12">
        <div class="row advisors">

          <div class="col-lg-4 col-md-4 col-sm-6 advisor">
            <div class="row box-shadow-light height">
              <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                <%= image_tag("rise_assets/about/board/pedro.png", class: "no-margin", style: "height:")%>
              </div>
              <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                <div class="boxed boxed--xxs">
                  <h4 class="no-margin">
                    <a href="https://gseis.ucla.edu/directory/pedro-noguera/">Pedro Naguera, Ph.D.</a>
                  </h4>
                  <h5>National Commission on Asian American and Pacific Islander Research in Education, UCLA</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 advisor">
            <div class="row box-shadow-light">
              <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                <%= image_tag("rise_assets/about/board/brian.png", class: "no-margin")%>
              </div>
              <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                <div class="boxed boxed--xxs">
                  <h4 class="no-margin">
                    <a href="http://nationalcollaborative.org/?q=node/28">Brian D. Smedley, Ph.D.</a>
                  </h4>
                  <h5>National Collaborative for Health Equity</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 advisor">
            <div class="row box-shadow-light">
              <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                <%= image_tag("rise_assets/about/board/joseph.png", class: "no-margin")%>
              </div>
              <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                <div class="boxed boxed--xxs">
                  <h4 class="no-margin"><a href="http://www.cfuf.org/Bios/About-Joseph-T.-Jones,-Jr/">Joseph T. Jones, Jr.</a></h4>
                  <h5>Center for Urban Families</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 advisor">
            <div class="row box-shadow-light">
              <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                <%= image_tag("rise_assets/about/board/erik.png", class: "no-margin")%>
              </div>
              <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                <div class="boxed boxed--xxs">
                  <h4 class="no-margin"><a href="http://www.cnay.org/Staff.html">Erik Stegman</a></h4>
                  <h5>Center for Native American Youth at the Aspen Institute</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 advisor">
            <div class="row box-shadow-light">
              <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                <%= image_tag("rise_assets/about/board/ninez.png", class: "no-margin")%>
              </div>
              <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                <div class="boxed boxed--xxs">
                  <h4 class="no-margin"><a href="http://hpm.ph.ucla.edu/ninez-ponce">Ninez A. Ponce, MPP, Ph.D.</a></h4>
                  <h5>UCLA Fielding School of Public Health</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-6 advisor">
            <div class="row box-shadow-light">
              <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                <%= image_tag("rise_assets/about/board/victor.png", class: "no-margin")%>
              </div>
              <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                <div class="boxed boxed--xxs">
                  <h4 class="no-margin"><a href="http://diversity.utexas.edu/txedconsortium">Dr. Victor Sáenz</a></h4>
                  <h5>Texas Education Consortium for Male Students of Color</h5>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-4 col-sm-6 advisor">
            <div class="row box-shadow-light">
              <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                <%= image_tag("rise_assets/about/board/quyen.png", class: "no-margin")%>
              </div>
              <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                <div class="boxed boxed--xxs">
                  <h4 class="no-margin"><a href="http://www.searac.org/staff/quyen-dinh">Quyen Dinh, MPP</a></h4>
                  <h5>Southeast Asia Resource Action Center (SEARAC)</h5>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-4 col-sm-6 advisor">
            <div class="row box-shadow-light">
              <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                <%= image_tag("rise_assets/about/board/kevin.png", class: "no-margin")%>
              </div>
              <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                <div class="boxed boxed--xxs">
                  <h4 class="no-margin"><a href="http://www.jjay.cuny.edu/faculty/kevin-l-nadal">Kevin Nadal, Ph.D.</a></h4>
                  <h5>Asian American Psychological Association</h5>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-4 col-sm-6 advisor">
            <div class="row box-shadow-light">
              <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                <%= image_tag("rise_assets/about/board/ron.png", class: "no-margin")%>
              </div>
              <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                <div class="boxed boxed--xxs">
                  <h4 class="no-margin"><a href="http://socialwork.columbia.edu/faculty/full-time/ronald-b-mincy">Ron Mincy, Ph.D.</a></h4>
                  <h5>Columbia University</h5>
                </div>
              </div>
             </div>
           </div>

           <div class="col-lg-4 col-md-4 col-sm-6 advisor">
             <div class="row box-shadow-light">
               <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                  <%= image_tag("rise_assets/about/board/frank.png", class: "no-margin")%>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                  <div class="boxed boxed--xxs">
                    <h4 class="no-margin"><a href="http://interwork.sdsu.edu/elip/postsecondary/faculty.html#frank">Frank Harris III, Ed.D.</a></h4>
                    <h5>Minority Male Community College Collaborative, San Diego State University</h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 advisor">
              <div class="row box-shadow-light">
                <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                  <%= image_tag("rise_assets/about/board/jluke.png", class: "no-margin")%>
                </div>
                <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                 <div class="boxed boxed--xxs">
                  <h4 class="no-margin"><a href="http://interwork.sdsu.edu/elip/postsecondary/faculty.html#luke">J. Luke Wood, Ph.D.</a></h4>
                  <h5>Minority Male Community College Collaborative, San Diego State University</h5>
                 </div>
               </div>
              </div>
            </div>

           <div class="col-lg-4 col-md-4 col-sm-6 advisor">
             <div class="row box-shadow-light">
               <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                 <%= image_tag("rise_assets/about/board/marc.png", class: "no-margin")%>
               </div>
               <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                 <div class="boxed boxed--xxs">
                   <h4 class="no-margin"><a href="http://www.policylink.org/aboutUs/staff/marc-philpart">Marc Philpart, MPA</a></h4>
                   <h5>PolicyLink</h5>
                 </div>
               </div>
             </div>
           </div>

            <div class="col-lg-4 col-md-4 col-sm-6 advisor">
               <div class="row box-shadow-light">
                 <div class="col-md-4 col-sm-3 col-xs-2 padding-h-0">
                   <%= image_tag("rise_assets/about/board/neil.png", class: "no-margin")%>
                 </div>
                 <div class="col-md-8 col-sm-9 col-xs-10 padding-h-0">
                   <div class="boxed boxed--xxs">
                     <h4 class="no-margin"><a href="http://www.apiasf.org/bio_neil_horikoshi.html">Neil Horikoshi, J.D.</a></h4>
                     <h5>Asian & Pacific Islander American Scholarship Fund (APIASF)</h5>
                   </div>
                 </div>
               </div>
             </div>

          </div>
        </div>
      </div>

    </div>


   </div>

</section>
