
<section id="funders" class="space--sm">
  <div class="container">
    <h4 class="text-center title-font-alt">Funding the Transformation</h4>

    <div class="row text-center">
      <div class="col-sm-3">
        <div class="boxed box-shadow-light height-10">
          <a href="http://www.aecf.org/">
            <%= image_tag("rise_assets/about/block-4 funders/logo_acasey-color.png" , class: "image--xs")%>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="boxed box-shadow-light height-10">
          <a href="https://www.wkkf.org/">
            <%= image_tag("rise_assets/about/block-4 funders/logo_kellogg-color.png" , class: "image--xs")%>
            <a/>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="boxed  box-shadow-light height-10">
          <a href="http://www.atlanticphilanthropies.org/">
            <%= image_tag("rise_assets/about/block-4 funders/logo_atlantic-color.png" , class: "image--xs")%>
          </a>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="boxed box-shadow-light height-10">
          <a href="http://www.caseygrants.org/">
            <%= image_tag("rise_assets/about/block-4 funders/logo_mcasey-color@2x.png" , class: "image--xs")%>
          </a>
        </div>
      </div>
    </div>
    <!--end of row-->

    <br/>

    <h4 class="text-center title-font-alt">Co-Coveners</h4>
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <div class="row text-center">
          <div class="col-sm-6">
            <a href="https://www.facebook.com/USCRaceEquityCenter/">
              <div class="boxed box-shadow-light height-10">
                <%= image_tag("rise_assets/about/block-4 funders/logo-usc-red.png" , class: "image--xs")%>
              </div>
            <a>
          </div>
          <div class="col-sm-6">
            <a href="http://www.equalmeasure.org/">
              <div class="boxed box-shadow-light height-10">
                  <%= image_tag("rise_assets/about/block-4 funders/logo-em-color.png" , class: "image--xs")%>
              </div>
              <a/>
          </div>
        </div>
        <!--end of row-->
      </div>
    </div>

    <br/>

    <!-- <h4 class="text-center">
      <a href"#" class="color--yellow">The Center for the Study of Race and Equity in Education</a>
        at the University of Southern California Rossier School of Education and
        <a href"#" class="color--yellow">Equal Measure</a>, a national evaluation and philanthropic services
         firm, co-lead RISE. Rossier Professor <a href"#" class="color--yellow">Shaun R. Harper</a> and
         <a href"#" class="color--yellow">Sharon Norris-Shelton</a>, Senior Director at Equal Measure, co-direct this field advancement effort.
       </h4> -->
  </div>
  <!--end of container-->
</section>
