<section class="cta cta-4 bg--secondary box-shadow-light unpad height-10 ">
  <div class="bar color--primary " data-scroll-class="1200px:pos-fixed">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <div class="bar__module">
            <ul class="menu-horizontal h4">
              <li>
                <%= link_to directory_education_path, class: "inner-link" do %>
                  Education
                <% end %>
              </li>
              <li class="active">
                <%= link_to directory_health_path, class: "inner-link" do %>
                  Health
                <% end %>
              </li>
              <li>
                <%= link_to directory_human_services_path, class: "inner-link" do %>
                  Human Services
                <% end %>
              </li>
              <li>
                <%= link_to directory_workforce_development_path, class: "inner-link" do %>
                  Workforce Development
                <% end %>
              </li>
              <li>
                <%= link_to directory_criminal_justice_path, class: "inner-link" do %>
                  Criminal Justice
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
