<div class="masonry__container">
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3"></div>


    <!-- 1st Row *****************************---->

      <!-- Marilyn		Aguirre-Molina -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Marilyn		Aguirre-Molina</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>City University of New York<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New York
                <br/>--<br/>
                <a href="http://sph.cuny.edu/people/marilynaguirremolina" target="_blank">Professional Background</a>
                <a mailto="mailto:marilyn.aguirre-molina@sph.cuny.edu">marilyn.aguirre-molina@sph.cuny.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <h6 class="type--fade no-margin">Focus Area</h6>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- José	A.	Bauermeister -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino, Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>José	A.	Bauermeister</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Pennsylvania<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Pennsylvania
                <br/>--<br/>
                <a href="https://www.nursing.upenn.edu/live/profiles/111-jose-a-bauermeister" target="_blank">Professional Background</a>
                <a mailto="mailto:bjose@upenn.edu">bjose@upenn.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Cleopatra	Howard	Caldwell -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/cleopatra-howard-caldwell@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Cleopatra	Howard	Caldwell</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Michigan<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Michigan
                <br/>--<br/>
                <a href="https://sph.umich.edu/faculty-profiles/caldwell-cleopatra.html" target="_blank">Professional Background</a>
                <a mailto="mailto:edavid8@alaska.edu">cleoc@umich.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Stephanie	H.	Cook -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/stephanie-cook@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Stephanie	H.	Cook</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>New York University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New York
                <br/>--<br/>
                <a href="https://publichealth.nyu.edu/faculty/stephanie-cook" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:sc5810@nyu.edu">sc5810@nyu.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->



    <!-- 2nd Row *****************************---->

      <!-- Theodore		Corbin -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black, Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/ted-corbin@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Theodore		Corbin</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Drexel University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Pennsylvania
                <br/>--<br/>
                <a href="http://drexel.edu/dornsife/academics/faculty/Theodore%20Corbin" target="_blank">Professional Background</a>
                <a mailto="mailto:tcorbin@drexelmed.edu">tcorbin@drexelmed.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Jonathan		Garcia -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino, Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Jonathan		Garcia</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Oregon State University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Oregon
                <br/>--<br/>
                <a href="http://health.oregonstate.edu/people/jonathan-garcia" target="_blank">Professional Background</a>
                <a mailto="mailto:jonathan.garcia@oregonstate.edu">jonathan.garcia@oregonstate.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Keon	L.	Gilbet -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino, Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/keon-gilbert@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Keon	L.	Gilbet</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Saint Louis University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Missouri
                <br/>--<br/>
                <a href="https://www.slu.edu/public-health-social-justice/faculty/gilbert-keon.php" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:keon.gilbert@slu.edu">keon.gilbert@slu.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Darrell	L.	Hudson -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/darrell-hudson@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Darrell	L.	Hudson</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Washington University in St. Louis<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Missouri
                <br/>--<br/>
                <a href="https://brownschool.wustl.edu/Faculty-and-Research/Pages/Darrell-Hudson.aspx" target="_blank">Professional Background</a>
                <a mailto="mailto:dhudson@WUSTL.EDU">dhudson@WUSTL.EDU</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->



    <!-- 3rd Row *****************************---->

      <!-- Sophia		Hussen  -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black, Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/sophia-hussen@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Sophia		Hussen </strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Emory University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Georgia
                <br/>--<br/>
                <a href="http://medicine.emory.edu/infectious-diseases/faculty-directory/hussen-sophia.html" target="_blank">Professional Background</a>
                <a mailto="mailto:sophia.ahmed.hussen@emory.edu">sophia.ahmed.hussen@emory.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Wrenetha	A.	Julion -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/wrenetha-julion@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Wrenetha	A.	Julion</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Rush University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Illinois
                <br/>--<br/>
                <a href="https://www.rushu.rush.edu/faculty/wrenetha-julion-nursing" target="_blank">Professional Background</a>
                <a mailto="mailto:sjoe@wustl.edu">wrenetha_a_julion@rush.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Sana		Loue -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino, Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Sana		Loue</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Case Western Reserve University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Ohio
                <br/>--<br/>
                <a href="https://case.edu/medicine/bioethics/about/faculty--staff/loue.html" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:sxl54@case.edu">sxl54@case.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- David		Malebranche -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>David		Malebranche</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Morehouse School of Medicine<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Georgia
                <br/>--<br/>
                <a href="https://works.bepress.com/david_malebranche" target="_blank">Professional Background</a>
                <a mailto="mailto:dmalebranche@msm.edu">dmalebranche@msm.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->


    <!-- 4th Row *****************************---->

      <!-- Henrika		McCoy -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Native American">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/henrika-mccoy@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Henrika		McCoy</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Illinois Chicago<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Illinois
                <br/>--<br/>
                <a href="https://socialwork.uic.edu/facultyandstaff/henrika-mccoy" target="_blank">Professional Background</a>
                <a mailto="mailto:hmccoy@uic.edu">hmccoy@uic.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Native American</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Jamie		Mitchell -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/jamie-mitchell@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Jamie		Mitchell</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Michigan<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Michigan
                <br/>--<br/>
                <a href="https://ssw.umich.edu/faculty/profiles/tenure-track/mitchj" target="_blank">Professional Background</a>
                <a mailto="mailto:mitchj@umich.edu">mitchj@umich.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!--Miguel		Muñoz-Laboy -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Miguel		Muñoz-Laboy</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Temple University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Pennsylvania
                <br/>--<br/>
                <a href="https://cph.temple.edu/ssa/faculty/miguel-munoz-laboy" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:miguel.munoz-laboy@temple.edu">miguel.munoz-laboy@temple.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Richard	G.	Parker -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black, Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Richard	G.	Parker</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Columbia University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New York
                <br/>--<br/>
                <a href="https://www.mailman.columbia.edu/people/our-faculty/rgp11" target="_blank">Professional Background</a>
                <a mailto="mailto:rgp11@columbia.edu">rgp11@columbia.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->


    <!-- 5th Row *****************************---->

      <!-- Ninez	A.	Ponce -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander, Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Ninez	A.	Ponce</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>UCLA<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>California
                <br/>--<br/>
                <a href="https://ph.ucla.edu/faculty/ponce" target="_blank">Professional Background</a>
                <a mailto="mailto:nponce@ucla.edu">nponce@ucla.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Pacific Islander</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Asian American</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Wizdom		Powell -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/wizdom-powell@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Wizdom		Powell</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Connecticut<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Connecticut
                <br/>--<br/>
                <a href="http://facultydirectory.uchc.edu/profile?profileId=Powell-Wizdom" target="_blank">Professional Background</a>
                <a mailto="mailto:wpowell@uchc.edu">wpowell@uchc.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!--Joseph		Ravenell -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino, Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/joseph-ravenell@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Joseph		Ravenell</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>New York University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New York
                <br/>--<br/>
                <a href="http://nyulangone.org/doctors/1326017807/joseph-e-ravenell" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:Joseph.Ravenell@nyumc.org">Joseph.Ravenell@nyumc.org</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- John	A.	Rich -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/john-rich@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>John	A.	Rich</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Drexel University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Pennsylvania
                <br/>--<br/>
                <a href="http://drexel.edu/dornsife/academics/faculty/John%20Rich" target="_blank">Professional Background</a>
                <a mailto="mailto:jar82@drexel.edu">jar82@drexel.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

    <!-- 6th Row *****************************---->

      <!-- Natalie		Slopen -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino, Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Natalie		Slopen</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Maryland<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Maryland
                <br/>--<br/>
                <a href="https://sph.umd.edu/people/natalie-slopen" target="_blank">Professional Background</a>
                <a mailto="mailto:nslopen@umd.edu">nslopen@umd.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Brian		Smedley -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Brian		Smedley</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>National Collaborative for Health Equity<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>District of Columbia
                <br/>--<br/>
                <a href="http://www.nationalcollaborative.org/staff/brian-smedley-ph-d" target="_blank">Professional Background</a>
                <a mailto="mailto:bsmedley@nationalcollaborative.org">bsmedley@nationalcollaborative.org</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- David		Takeuchi -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/david-takeuchi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>David		Takeuchi</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Boston College<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Massachusetts
                <br/>--<br/>
                <a href="https://lsa.umich.edu/soc/people/faculty/ayoun.html" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:david.takeuchi@bc.edu">david.takeuchi@bc.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Asian American</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Pacific Islander</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->


      <!-- Henrie		Treadwell -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/henrie-treadwell@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Henrie		Treadwell</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Morehouse School of Medicine<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Georgia
                <br/>--<br/>
                <a href="http://www.msm.edu/about_us/FacultyDirectory/CommunityHealthPreventiveMedicine/HenrieTreadwell/index.php" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:htreadwell@msm.edu">htreadwell@msm.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Asian American</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Pacific Islander</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->


      <!-- Dexter	R.	Voisin -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Dexter	R.	Voisin</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Chicago<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Illinois
                <br/>--<br/>
                <a href="https://ssascholars.uchicago.edu/d-voisin/biocv" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:dvoisin@uchicago.edu">dvoisin@uchicago.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->


      <!-- Y.	Joel	Wong -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Y.	Joel	Wong</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Indiana University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Indiana
                <br/>--<br/>
                <a href="http://education.indiana.edu/dotnetforms/Profile.aspx?u=joelwong" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:joelwong@indiana.edu">joelwong@indiana.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Asian American</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Pacific Islander</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

</div>
<!--end of masonry container-->
