

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="4">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3>
                          Where are our american indian/alaskan native boys and young men?
                        </h3>
                        <hr/>
                        <h5>by Villegas</h5>
                        <p>
                          <%= link_to "View Brief", issues_post1_path, class: "btn btn--lg" %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="4">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/yu/hero.png") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <h3>
                      Advancing Culturally Responsive Evaluations for Boys and Men of Color
                    </h3>
                    <hr/>
                    <h5>by Yu, Lewis-Charp, Inoye</h5>
                    <p>
                      <%= link_to "View Brief", issues_post2_path, class: "btn btn--lg" %>
                    </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="4">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/smedley/hero.png") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <h3>
                        Expanding Access to High Opportunity Neighborhoods for Boys and Men of Color
                      </h3>
                      <hr/>
                      <h5>by Smedley</h5>
                      <p>
                        <%= link_to "View Brief", issues_post3_path, class: "btn btn--lg" %>
                      </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="5">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/godsil/hero.png") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <h3>
                        Tools for Addressing the Disproportionate Discipline of Boys of Color in Schools
                      </h3>
                      <hr/>
                      <h5>by Godsil</h5>
                      <p>
                        <%= link_to "View Brief", issues_post4_path, class: "btn btn--lg" %>
                      </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round" data-overlay="4">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/teranishi/hero.png") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                      <h3>
                        The Significance of Data Disaggregation in the Study of Boys and Men of Color
                      </h3>
                      <hr/>
                      <h5>by Tarenishi, Nguyen</h5>
                      <p>
                        <%= link_to "View Brief", issues_post5_path, class: "btn btn--lg" %>
                      </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
