

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round boxed bg-gradient-issue-brief-card" data-overlay="9">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/villegas/hero.jpg") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                          Where are our American Indian/Alaskan Native boys and young men?
                        </h3>
                        <hr/>
                        <h5 class="title-font-alt">by Villegas</h5>
                        <p>
                          <%= link_to issues_post1_path, class: "btn btn--sm btn--rise-orange" do %>
                            View Brief <i class="material-icons">&#xE315;</i>
                          <% end %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round boxed bg-gradient-issue-brief-card" data-overlay="9">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/yu/hero.png") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-12">
                    <h3>
                      Advancing Culturally Responsive Evaluations for Boys and Men of Color
                    </h3>
                    <hr/>
                    <h5 class="title-font-alt">by Yu, Lewis-Charp, Inoye</h5>
                    <p>
                      <%= link_to issues_post2_path, class: "btn btn--sm btn--rise-orange" do %>
                        View Brief <i class="material-icons">&#xE315;</i>
                      <% end %>
                    </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round boxed bg-gradient-issue-brief-card" data-overlay="9">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/smedley/hero.png") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-12">
                      <h3>
                        Expanding Access to High Opportunity Neighborhoods for Boys and Men of Color
                      </h3>
                      <hr/>
                      <h5 class="title-font-alt">by Smedley</h5>
                      <p>
                        <%= link_to issues_post3_path, class: "btn btn--sm btn--rise-orange" do %>
                          View Brief <i class="material-icons">&#xE315;</i>
                        <% end %>
                      </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round boxed bg-gradient-issue-brief-card" data-overlay="9">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/godsil/hero.png") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-12">
                      <h3>
                        Tools for Addressing the Disproportionate Discipline of Boys of Color in Schools
                      </h3>
                      <hr/>
                      <h5 class="title-font-alt">by Godsil</h5>
                      <p>
                        <%= link_to issues_post4_path, class: "btn btn--sm btn--rise-orange" do %>
                          View Brief <i class="material-icons">&#xE315;</i>
                        <% end %>
                      </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="imagebg height-40 border--round boxed bg-gradient-issue-brief-card" data-overlay="9">
            <div class="background-image-holder">
                <%= image_tag("rise_assets/issue_briefs/teranishi/hero.png") %>
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                  <div class="col-sm-12 col-sm-offset-1">
                      <h3>
                        The Significance of Data Disaggregation in the Study of Boys and Men of Color
                      </h3>
                      <hr/>
                      <h5 class="title-font-alt">by Tarenishi, Nguyen</h5>
                      <p>
                        <%= link_to issues_post5_path, class: "btn btn--sm btn--rise-orange" do %>
                          View Brief <i class="material-icons">&#xE315;</i>
                        <% end %>
                      </p>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
