
<section>
  <div class="container">

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <h4 class="color--orange title-font-alt text-center"> Geography + Location</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">Explore Data and Research by Geographic Region</h1>
        <h4 class="text-center">
          Explore the latest research, from RISE research, academic initiatives, experts and more.
        </h4>
      </div>
    </div>
    <br/>
    <br/>

    <div class="row">
        <div class="col-sm-3">
            <%= link_to data_center_asia_path class: "block" do %>
                <div class="feature boxed boxed--border border--round text-center box-shadow-light">
                    <%= image_tag("rise_assets/locations/asia.png", class: "no-margin image--lg")%>
                    <br/>
                    <span class="h4 color--primary">Asia</span>
                </div>
            <% end %>

        </div>
        <div class="col-sm-3">
            <%= link_to data_center_pacific_islands_path class: "block" do %>
              <div class="feature boxed boxed--border border--round text-center box-shadow-light">
                <%= image_tag("rise_assets/locations/pacific_rim.png", class: "no-margin image--lg")%>
                <span class="h4 color--primary">Pacific Islands</span>
              </div>
            <% end %>

        </div>
        <div class="col-sm-3">
            <%= link_to data_center_latin_america_path class: "block" do %>
                <div class="feature boxed boxed--border border--round text-center box-shadow-light">
                    <%= image_tag("rise_assets/locations/latin.png", class: "no-margin image--lg")%>
                    <br/>
                    <span class="h4 color--primary">Latin America</span>
                </div>
            <% end %>

        </div>
        <div class="col-sm-3">
            <%= link_to data_center_north_america_path class: "block" do %>
                <div class="feature boxed boxed--border border--round text-center box-shadow-light">
                    <%= image_tag("rise_assets/locations/us.png", class: "no-margin image--lg")%>
                    <br/>
                    <span class="h4 color--primary">North America</span>
                </div>
            <% end %>

        </div>
      </div>
    </div>
  </div>
</section>
