<section class="bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
        <h4 class="color--orange title-font-alt text-center">by Race + ethnicity</h4>
        <hr class="center" style="width: 20%;"/>
        <h1 class="color--orange text-center">Explore Data and Research by Ethnicity</h1>
        <h4 class="text-center">
          Explore the latest research, from RISE research, academic initiatives, experts and more.
        </h4>
      </div>
    </div>
    <br/>
    <br/>

    <div class="row">
      <div class="col-sm-3 masonry__item">
        <%= link_to data_center_asian_american_path class: "block" do %>

          <div class="card card-2 text-center bg--white box-shadow-light">
            <div class="card__top">
                <%= image_tag("stock/asian.jpg") %>

            </div>
            <div class="card__body">
              <h3 class="no-margin">Asian-American</h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-3 masonry__item">
        <%= link_to data_center_black_path class: "block" do %>

          <div class="card card-2 text-center bg--white box-shadow-light">
            <div class="card__top">
                <%= image_tag("stock/black.jpg") %>

            </div>
            <div class="card__body">
              <h3 class="no-margin">Black</h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-3 masonry__item">
        <%= link_to data_center_latino_path class: "block" do %>
          <div class="card card-2 text-center bg--white box-shadow-light">
          <div class="card__top">
              <%= image_tag("stock/latino.jpg") %>

          </div>
          <div class="card__body">
            <h3 class="no-margin">Latinos</h3>
          </div>
          <div class="card__bottom text-center">
            View All Data and Research
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-sm-3 masonry__item">
        <%= link_to data_center_native_american_path class: "block" do %>
          <div class="card card-2 text-center bg--white box-shadow-light">
            <div class="card__top">
                <%= image_tag("stock/native-indian.jpg") %>
            </div>
            <div class="card__body">
              <h3 class="no-margin">Native American</h3>
            </div>
            <div class="card__bottom text-center">
              View All Data and Research
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <!--end of container-->
</section>
