
<section class="bg--secondary">
  <div class="container">
    <br/>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center title-font-alt">Popular Research Publications</h4>
        <div class="row">
          <div class="col-lg-2">
            <article class="feature feature-1">
              <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
                <div class="card__top">
                </div>
                <div class="card__body">
                  <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
                    <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
                  </a>
                  <p>
                    <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
                  </p>
                </div>
            </article>
          </div>
          <div class="col-lg-2">
            <article class="feature feature-1">
              <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
                <div class="card__top">
                </div>
                <div class="card__body">
                  <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
                    <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
                  </a>
                  <p>
                    <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-2">
            <article class="feature feature-1">
              <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
                <div class="card__top">
                </div>
                <div class="card__body">
                  <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
                    <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
                  </a>
                  <p>
                    <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-2">
            <article class="feature feature-1">
              <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
                <div class="card__top">
                </div>
                <div class="card__body">
                  <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
                    <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
                  </a>
                  <p>
                    <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
                  </p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-lg-2">
            <article class="feature feature-1">
              <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
                <div class="card__top">
                </div>
                <div class="card__body">
                  <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
                    <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
                  </a>
                  <p>
                    <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
                  </p>
                </div>
              </div>
            </article>
          </div>


          <div class="col-lg-2">
            <article class="feature feature-1">
              <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
                <div class="card__top">
                </div>
                <div class="card__body">
                  <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
                    <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
                  </a>
                  <p>
                    <strong>Kenneth Anderson,</strong><small class=""> PH.D.</small>
                  </p>
                </div>
              </div>
            </article>
          </div>


        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-offset-3 col-md-6 text-center">
        <br/>
        <h2 class="text-center">Not finding what you need in our data center?</h2>
        <p>
          <a class="btn btn--large">Submit a Custom Request</a>
        </p>
        <h4 class="text-center">A RISE Data Analyst will respond within 72 hours</h4>
      </div>
    </div>
  </div>
</section>
