<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 18-24, Asian">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/1.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/1.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 18-24, by Region:
            Less than High School Diploma
          </strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
        <small class=""></small>
      </div>
    </div>
  </article>
</div>
<!--end item-->
<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 18-24, Asian">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/2.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/2.png", alt:"Image")%>
        </a>
        <p>
          <strong>Highest Level of Education Among Asian Males 18-24, by Region:
              High School Diploma</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
      </div>
  </article>
</div>
<!--end item-->
<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 18-24, Asian">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/3.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/3.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 18-24, by Region:
            Some College, No Degree</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
      </div>
  </article>
</div>
<!--end item-->
<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 18-24, Asian, Associate's Degrees">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/4.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/4.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 18-24, by Region:
            Associate’s Degree</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
      </div>
  </article>
</div>
<!--end item-->
<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 18-24, Asian, Associate's Degrees">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 18-24, by Region:
            Bachelor’s Degree</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
      </div>
  </article>
</div>

<!--end item-->
<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 18-24, Asian, Associate's Degrees">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 18-24, by Region:
            Graduate/Professional Degree</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
      </div>
  </article>
</div>

<!--end item-->
<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 25-34, Asian">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 25-34, by Region:
            Less than High School Diploma</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
      </div>
  </article>
</div>


<!--end item-->
<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 25-34, Asian, High School Diploma">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 25-34, by Region:
            High School Diploma</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Human Services and Social Policy</span>
      </div>
  </article>
</div>

<!--end item-->
<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 25-34, Asian">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 25-34, by Region:
              Some College, No Degree</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
      </div>
  </article>
</div>

<!--end item-->
<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 25-34, Asian">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 25-34, by Region:
            Associate’s Degree</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
      </div>
  </article>
</div>

<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 25-34, Asian">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 25-34, by Region:
            Bachelor’s Degree</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
      </div>
  </article>
</div>


<div class="masonry__item col-sm-3" data-masonry-filter="Men, Age: 25-34, Asian">
  <article class="feature feature-1">
    <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
      <div class="card__top">
      </div>
      <div class="card__body">
        <a href="<%= image_url("rise_assets/data-center/asian_education/lg/5.png")%>" data-lightbox="true">
          <%= image_tag("rise_assets/data-center/asian_education/thumb/5.png", alt:"Image")%>
        </a>
        <p>
          <strong>
            Highest Level of Education Among Asian Males 25-34, by Region:
            Professional Degree</strong>
        </p>
        <h6 class="no-margin">
          <i class="fa fa-map-marker" aria-hidden="true"></i> 2005-2010
        </h6>
      </div>
      <div class="card__bottom">
        <span class="label" style="position: inherit; bottom: 10px !important;">Asian</span>
        <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
      </div>
  </article>
</div>
