<style media="screen">
.card-1 .card__body {
  border-bottom: 1px solid #ececec;
   padding-bottom: 0.30em;
   margin-bottom: 0.65em;
}
.label {
  min-width: 0;
  font-size: 8.5px;
}
</style>


<div class="masonry__container">
    <div class="masonry__item col-sm-3"></div>


    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: All">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_1.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_1.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/education/RISE_Education_1.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Degree Attainment Among Males 18-24 by Racial/Ethnic Group
              </strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">All Ethnicities</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
            <small class=""></small>
          </div>
        </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: All">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_2.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_2.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/education/RISE_Education_2.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Degree Attainment Among Males 18-24 by Racial/Ethnic Group</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">All Ethnicities</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: All">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_3.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_3.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/education/RISE_Education_3.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Pushout Among Males 18-24 by Race/Ethnic Group</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">All Ethnicities</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: All">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_4.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_4.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/education/RISE_Education_4.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Pushout Among Males 25-34 by Race/Ethnic Group</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">All Ethnicities</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: All">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_5.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_5.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/education/RISE_Education_5.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent High School Diploma Only among Males 18-24 by Racial/Ethnic Group</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">All Ethnicities</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: All">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_6.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_6.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_6.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent Graduate/Professsional Degree Attainment Among Males 18-24 by Racial/Ethnic Group</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">All Ethnicities</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: Asian Subgroups">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_7.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_7.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_7.png", alt:"Image")%>
            </a>
            <p>
              <strong>Percent College Attainment Among Males 18-24, Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: Asian Subgroups">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_8.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_8.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_8.png", alt:"Image")%>
            </a>
            <p>
            <strong>Percent College Attainment Among Males 25-34, Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: Asian Subgroups">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_9.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_9.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_9.png", alt:"Image")%>
            </a>
            <p>
              <strong>Percent College Pushout Among Males 18-24 by Race/Ethnic Group</strong>
            </p>
            <h6 class="no-margin">
               2005-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: Asian Subgroups, Level: High School Diploma">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_10.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_10.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_10.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent High School Diploma Only Among Males 18-24, Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">High School</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: Asian Subgroups, Level: Graduate/Professional Degree">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_11.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_11.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_11.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent Graduate School/Professional Degree Attainment Among Males 25-34, Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006  -2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Graduate/Professional Degree</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: East Asian Subgroups, Level: College Degree">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_12.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_12.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_12.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Degree Attainment Among Males 18-24, East Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">College Degree</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: East Asian Subgroups, Level: College Degree">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_13.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_13.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_13.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Degree Attainment Among Males 25-34, East Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2005-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">College Degree</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: East Asian Subgroups, Level: College Pushout">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_14.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_14.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_14.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Pushout Among Males 25-34 by East Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">College Pushout</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Level: High School Diploma">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_15.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_15.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_15.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent High School Diploma Only Among Males</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">High School Diploma</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: East Asian Subgroups, Level: Graduate/Professional Degree">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_16.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_16.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_16.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent Graduate/Professional Degree Attainment Among Males 25-34, East Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2005-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">24-34</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">East Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Graduate/Professional Degree</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: Southeast Asian Subgroups, Level: College Degree">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_17.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_17.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_17.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Degree Attainment Among Males 18-24, South East Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Southeast Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">College Degree</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: Southeast Asian Subgroups, Level: College Degree">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_18.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_18.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_18.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Degree Attainment Among Males 24-34, South East Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2005-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Southeast Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">College Degree</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: Southeast Asian Subgroups, Level: College Pushout">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_19.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_19.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_19.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Pushout Among Males 24-34, Southeast Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Southeast Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">College Pushout</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: Southeast Asian Subgroups, Level: High School Diploma">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_20.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_20.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_20.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent High School Diploma Only Among Males 18-24 by Southeast Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Southeast Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">High School Diploma</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: Southeast Asian, Level: Graduate/Professional Degree">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_21.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_21.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_21.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent Graduate/Professsional Degree Attainment Among Males 24-34, Southeast Asian</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Southeast Asian</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Graduate/Professsional Degree</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: South Asian Subgroups, Level: College Degree">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_22.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_22.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_22.png", alt:"Image")%>
            </a>
            <p>
              <strong>Percent College Degree Attainment Among Males 18-24, South Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">South Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">College Degree</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: South Asian Subgroups, Level: College Degree">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_23.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_23.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_23.png", alt:"Image")%>
            </a>
            <p>
              <strong>Percent College Degree Attainment Among Males 25-34, South Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2005-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">South Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">College Degree</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 25-34, Race: South Asian Subgroups, Level: College Pushout">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_24.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_24.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_24.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Percent College Pushout Among Males 25-34, South Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">25-34</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">South Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">College Pushout</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-3" data-masonry-filter="Age: 18-24, Race: South Asian Subgroups, Level:  High School Diploma">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/education/RISE_Education_25.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/education/RISE_Education_25.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/education/RISE_Education_25.png", alt:"Image")%>
            </a>
            <p>
              <strong>Percent High School Diploma Among Males 25-34, South Asian Subgroups</strong>
            </p>
            <h6 class="no-margin">
               2006-2010
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">18-24</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">South Asian Subgroups</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">High School Diploma</span>
          </div>
      </article>
    </div>

    <!-- ************************************** 26 - 50 ******************************************* -->













</div>
<!--end of masonry container-->
