<style>

.blog-post {
  border: 10px solid #fff;
  box-shadow: 1px 1px 1px #ddd;
  border-left: 1px solid #ddd;
  margin: 0px;
}

.btn {

  margin-right: 10px;
}

#blog h4 {
  font-size: 2.05em;
  line-height: 1.1em;
}

</style>
<!-- start post content section -->

<section class="parallax wow fadeIn padding-two-tb" style="background: url(<%= image_url('stock/home/backgrounds/4.jpg')%>); background-size: cover; border: 10px solid #fff; border-top: 90px solid #fff;">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-white text-center alt-font no-margin">News, Events & Announcements</h2>
      </div>
    </div>
  </div>
</section>

<section id="blog" class="no-padding-top bg-extra-light-gray">
  <div class="container-fluid bg-white padding-70px-top padding-100px-bottom">
    <div class="container text-center">
      <p class="font-weight-300 text-medium text-medium-gray alt-font-3 margin-15px-bottom">The latest</p>
      <h3 class="font-weight-300 text-black alt-font">Our latest moves.</h2>
      <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
      <h6 class="text-black font-weight-300">Stay up-to-date on our latest moves.</h6>
      <br/>
      <div class="row padding-100px-bottom">
        <a href="#" class="btn-block btn-large btn btn-warning btn-rounded btn-warning">Events</a>
        <a href="#" class="btn-block btn-large btn btn-warning btn-rounded btn-warning">news</a>
        <a href="#" class="btn-block btn-large btn btn-warning btn-rounded btn-warning">announcements</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div id="blog" class="row wow fadeIn bg-light-gray half-section last-paragraph-no-margin blog-post-style5">
        <div class="col-md-12 no-padding xs-padding-15px-lr">
          <ul class="blog-grid blog-3col gutter-large" style="margin-top: -150px;">
              <li class="grid-sizer"></li>
              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("stock/portfolios/intro/1.jpg")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">news</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">$1 Million Grant to Advance Racial Equity</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">March 2018</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">Through a partnership with Lumina Foundation and Rockefeller Philanthropy Advisors, the Center received $1 million to support two resources that help advance racial equity in higher education: The National Assessment of Collegiate Campus Climates (NACCC) and the USC Equity Institutes.</p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->
              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("http://mediad.publicbroadcasting.net/p/kalw/files/styles/x_large/public/201711/2017.11.30_Beverly_Tatum.jpg")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">Event</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">Center Honors Beverly Daniel Tatum, Celebrates 20th Book Anniversary</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">February 2018</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">In 1997, clinical psychologist Beverly Daniel Tatum published, “Why Are All the Black Kids Sitting Together in the Cafeteria? And Other Conversations About Race.” Educators, graduate students, and appreciators of this seminal book gathered on the USC campus to applaud Tatum and to celebrate the publication of the 20th anniversary edition of her important text.</p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->
              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F40219660%2F142565338226%2F1%2Foriginal.jpg?w=1000&rect=0%2C0%2C9000%2C4500&s=67310925a9c32416d80f485624104660")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">event</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">Convening on Gay Latino Men in College</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">February 2018</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">Oscar Patrón, a research associate in the Center, has amassed considerable expertise on the needs and experiences of gay Latino men attending U.S. colleges and universities. In February, he and Shaun Harper organized a summit that brought several dozen undergraduates, graduate students, and recent college graduates to USC. Most came from community colleges and four-year institutions in California and Arizona. One came from Virginia to participate in the event. </p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->
              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("https://pbs.twimg.com/media/DTICPllUQAACHm3.jpg")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">news</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">Thousands Participate in Presidential Symposium</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">March 2018</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">The Center hosted a daylong symposium in January focused on racism and racial justice. ACPA, an international association comprised of nearly 7,500 college student educators, co-sponsored the event with the Association for the Study of Higher Education. Over 80 graduate students and higher education professionals traveled to the USC campus from Minnesota, Maryland, Nevada, and other states for the in-person experience.</p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->
              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("https://i.ytimg.com/vi/BEO3H5BOlFk/maxresdefault.jpg")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">news</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">Stokes Releases “Dear White Counselor” and “Black Bruins” Follow Up</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">January 2018</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">Sy Stokes made national news in November 2013 for “The Black Bruins,” his groundbreaking spoken word video that has since been viewed over 2.3 million times on YouTube. The video featured him and several other Black undergraduate men who presented a range of shocking statistics regarding myriad racial inequities at UCLA. Stokes’ poem also illuminated several other institutionalized barriers to success for him and other Black male students at his then undergraduate institution.</p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->
              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("https://pbs.twimg.com/media/DI-9iADUwAEYEag.jpg")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">news</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">Grant to Fund Protest Policy Research</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">December 2017</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">The National Center for Institutional Diversity at the University of Michigan recently awarded Charles Davis a grant to examine state and institutional policies. “The Campus Protest Policy Project” will critically analyze policies aimed at punishing students engaged in campus protests, particularly those directly resisting hate speech at their colleges and universities.</p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->



              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("https://rossier.usc.edu/files/2017/10/shaun_r_harper_clifford_h_betty_c_allen_chair_usc_rossier.jpg")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">announcement</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">Harper Installed, Named Provost Professor, Concludes Presidency</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">November 2017</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">In Fall 2017, the Center’s founder and executive director was formally installed as the Clifford and Betty Allen Chair in Urban Leadership. Harper was also named a Provost Professor in the Rossier School of Education and the Marshall School of Business. USC’s 18 Provost Professors are exceptional interdisciplinary scholars who hold appointments in two or more academic schools.</p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->
              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("https://pbs.twimg.com/media/DMCJwOJV4AAtD_m.jpg:large")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">news</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">Asian American and Pacific Islander Twitter Town Hall on Immigration</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">October 2017</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">The Center joined with Asian Americans, Pacific Islanders, and committed others across the country to resist xenophobia, Islamophobia, hate speech, and racist immigration policies during the AAPI National Week of Action on Immigration. Using the hashtag #AAPIequity, Sumun Pendakur organized a Twitter Town Hall that engaged people across the country.</p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->


              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("https://rossier.usc.edu/files/2017/07/Sumun_Pendakur_news_i.jpg")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">announcement</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">National Equity and Inclusion Expert Joins Center</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">September 2017</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">As the Center’s new chief learning officer, Sumun L. Pendakur leads the USC Equity Institutes and a range of organizational change efforts. In her previous role as Assistant Vice President for Diversity and Inclusion at Harvey Mudd College, Pendakur was chief diversity officer and a member of the president’s cabinet.</p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->
              <!-- start post item -->
              <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                  <div class="blog-post">
                      <div class="blog-post-images overflow-hidden">
                          <a href="blog-post-layout-01.html">
                            <%= image_tag("http://www.msnbc.com/sites/msnbc/files/styles/ratio--83-34--830x340/public/articles/ap267139444642.jpg?itok=iuyV1bIT")%>
                          </a>
                          <div class="blog-categories bg-white text-black text-uppercase text-extra-small alt-font-3">news</div>
                      </div>
                      <div class="post-details padding-30px-all bg-red sm-padding-20px-all">
                          <div class="blog-hover-color"></div>
                          <h4 class="alt-font post-title font-weight-600 text-white display-block margin-5px-bottom">National Convening on Boys and Men of Color</h4>
                          <div class="author">
                              <span class="text-white text-uppercase text-extra-small display-inline-block alt-font-3">September 2017</span>
                          </div>
                          <div class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb md-margin-four-tb"></div>
                          <p class="text-white">As part of our RISE for Boys and Men of Color project, the Center hosted a two-day convening on the USC campus that brought together researchers from education, health, criminal justice, workforce development, social policy, and human services. Scholars came from all over the United States. Also, several professionals from community-based and youth-serving organizations in Los Angeles attended. USC Sociology Professor Manuel Pastor, one of the Center’s faculty affiliates, was a keynote speaker. </p>
                      </div>
                  </div>
              </li>
              <!-- end post item -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
