<%= render 'pages/portfolios/header' %>
<%= render 'pages/portfolios/nav' %>
<%= render 'pages/portfolios/products' %>
<%= render 'pages/portfolios/intro' %>
<%= render 'pages/portfolios/leadership' %>
<%= render 'pages/portfolios/video' %>


<section class="wow fadeIn"></section>

<!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
<!-- end scroll to top  -->
