
<style>
  .swiper-wrapper {
  }
  .swiper-slide {
    height: 97%;
  }
  .swiper-auto-width.swiper-container {
    height: calc(100% - 200px);
  }
  .text-light-grey {
    color: #555 !important;
  }
  .swiper-auto-width.swiper-container {
    top: 100px;
  }
  .swiper-auto-width. .swiper-wrapper {
    z-index: -999999;
}
</style>


<section class="position-absolute width-20 height-100 bg-white fadeIn no-padding h-nav" style="z-index: 0;">
  <div class="padding-fifteen-all margin-100px-top">
    <h6 class="text-extra-dark-gray font-weight-300 alt-font-3">The Rec team</h6>
    <h4 class="alt-font text-black font-weight-500 margin-5px-bottom">Research Associates</h4>
    <br/><br/>
    <i class="fa fa-quote-left text-gold icon-medium margin-15px-bottom"></i>
    <h6 class="font-weight-300 text-extra-dark-gray">
      Leadership by adaptability means remaining culturally humble and nimble. Leadership by adaptability means remaining culturally humble and nimble."
    </h6>
    <br/>
    <div class="row padding-50px-right">
      <p class="margin-10px-bottom wow fadeInRight">
        <a href='<%= pages_team_path %>' class="btn btn-warning btn-block display-block btn-large btn-rounded">
          Leadership
        </a>
      </p>
      <p class="margin-10px-bottom wow fadeInRight" data-wow-delay="0.2s">
        <a href='<%= pages_directors_path %>' class="btn btn-warning btn-block display-block btn-large btn-rounded">
          Directors
        </a>
      </p>
      <p class="margin-10px-bottom wow fadeInRight" data-wow-delay="0.4s">
        <a href='<%= pages_researchers_path %>' class="btn btn-warning btn-block display-block btn-large btn-rounded">
          Researchers
        </a>
      </p>
      <p class="margin-10px-bottom wow fadeInRight" data-wow-delay="0.6s">
        <a href='<%= pages_affiliates_path %>' class="btn btn-warning btn-block display-block btn-large btn-rounded">
          Faculty Affiliates
        </a>
      </p>
    </div>
  </div>
</section>


<section class="wow fadeIn no-padding h-nav" style="z-index: 9999;">
  <div class="container=-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
                <a href='<%= pages_team_path %>'>
                  <h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Leadership</h6>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight">
                <a href='<%= pages_directors_path %>'>
                  <h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Directors</h6>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.4s">
                <a href='<%= pages_researchers_path %>'>
                  <h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Researchers</h6>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 xs-text-center wow fadeInRight" data-wow-delay="0.6s">
                <a href='<%= pages_affiliates_path %>'>
                  <h6 class="text-large font-weight-500 text-white margin-10px-top font-weight-300">Faculty Affiliates</h6>
                </a>
            </div>
        </div>
    </div>
</section>



<div class="swiper-auto-width swiper-container white-move">
    <div class="swiper-wrapper">
      <!-- start slider item -->
      <div class="swiper-slide cover-background box-shadow" style="background-image:url('<%= image_url('stock/team/joanna.jpg')%>');">
          <div class="opacity-extra-light bg-black"></div>
          <div class="position-relative height-100">
            <span class="text-medium position-absolute bg-white" style="padding: 15px 40px; bottom: 0;">
                <h5 class="text-danger alt-font font-weight-600 parallax-text-shadow margin-5px-bottom">
                  Yianna (Joanna) Drivalas</h5>
                <p class="text-large text-black font-weight-300 margin-10px-tb">
                  Research Associate
                </p>
                <hr class=" margin-10px-tb"/>
                <p class="no-margin text-danger text-small">
                  drivalas@usc.edu <span class="text-light-grey">|</span> (213) 740-0385
                </p>
              </span>
          </div>
      </div>
      <!-- end slider item -->
      <!-- start slider item -->
      <div class="swiper-slide cover-background box-shadow" style="background-image:url('<%= image_url('stock/team/dayna.jpg')%>;">
          <div class="opacity-extra-light bg-black"></div>
          <div class="position-relative height-100">
              <span class="text-medium position-absolute bg-white" style="padding: 15px 40px; bottom: 0;">
                <h5 class="text-danger alt-font font-weight-600 parallax-text-shadow margin-5px-bottom">
                  Dayna Meyer</h5>
                <p class="text-large text-black font-weight-300 no-margin">
                  Research Associate
                </p>
                <hr class=" margin-10px-tb"/>
                <p class="no-margin text-danger text-small">
                  daynamey@usc.edu <span class="text-light-grey">|</span> (213) 740-0385
                </p>
              </span>
          </div>
      </div>
      <!-- end slider item -->
      <!-- start slider item -->
      <div class="swiper-slide cover-background box-shadow" style="background-image:url('<%= image_url('stock/team/oscar.jpg')%>;">
          <div class="opacity-extra-light bg-black"></div>
          <div class="position-relative height-100">

              <span class="text-medium position-absolute bg-white" style="padding: 15px 40px; bottom: 0;">
                <h5 class="text-danger alt-font font-weight-600 parallax-text-shadow margin-5px-bottom">
                  Oscar E. Patrón</h5>
                <p class="text-large text-black font-weight-300 no-margin">
                  Research Associate
                </p>
                <hr class=" margin-10px-tb"/>
                <p class="no-margin text-danger text-small">
                  op_303@usc.edu <span class="text-light-grey">|</span> (213) 740-0385
                </p>
              </span>
          </div>
      </div>
      <!-- end slider item -->
      <!-- start slider item -->
      <div class="swiper-slide cover-background box-shadow" style="background-image:url('<%= image_url('stock/team/sy.jpg')%>;">
          <div class="opacity-extra-light bg-black"></div>
          <div class="position-relative height-100">
              <div class="absolute-middle-center width-100 text-center">
                <div class="parallax-text">

                </div>
              </div>
              <span class="text-medium position-absolute bg-white" style="padding: 15px 40px; bottom: 0;">
                <h5 class="text-gold alt-font font-weight-600 parallax-text-shadow margin-5px-bottom">
                  Sy Stokes</h5>
                <p class="text-large text-white font-weight-300 no-margin">
                  Research Associate
                </p>
                <hr class=" margin-10px-tb"/>
                <p class="no-margin text-danger text-small">
                  systokes@usc.edu <span class="text-light-grey">|</span> (213) 740-0385
                </p>
              </span>
          </div>
      </div>
      <!-- end slider item -->
    </div>
      <section class="bg-red text-white no-padding-bottom padding-100px-top" style="z-index: 99999;">
        <!-- swiper pagination -->
        <div class="swiper-pagination swiper-pagination-square swiper-pagination-black"></div>
        <div class="swiper-scrollbar xs-display-none"></div>
        <div class="swiper-next-style2 text-small alt-font-3 font-weight-400 xs-display-none">Next <i class="fas fa-long-arrow-alt-right icon-very-small position-relative text-extra-light-gray top-2 margin-5px-left" aria-hidden="true"></i></div>
        <div class="swiper-prev-style2 text-small alt-font-3 font-weight-400 xs-display-none"><i class="fas fa-long-arrow-alt-left icon-very-small position-relative text-extra-light-gray top-2 margin-5px-right" aria-hidden="true"></i> Prev</div>
      </section>
    </div>
