<div class="masonry__container">
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3"></div>


    <!-- 1st Row *****************************---->

      <!-- Algernon		Austin -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Harry	J.	Holzer</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Dēmos<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i> District of Columbia
                <br/>--<br/>
                <a href="http://www.demos.org/algernon-austin" target="_blank">Professional Background</a>
                <a mailto="mailto:aaustin@demos.org">aaustin@demos.org</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Harry	J.	Holzer -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/dorinda-andrews@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Harry	J.	Holzer</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Georgetown University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>District of Columbia
                <br/>--<br/>
                <a href="https://gufaculty360.georgetown.edu/s/faculty-profile?netid=hjh4" target="_blank">Professional Background</a>
                <a mailto="mailto:hjh4@georgetown.edu">hjh4@georgetown.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Ronald	B.	Mincy -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Ronald	B.	Mincy</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Columbia University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New York
                <br/>--<br/>
                <a href="https://socialwork.columbia.edu/faculty/full-time/ronald-b-mincy" target="_blank">Professional Background</a>
                <a mailto="mailto:rm905@columbia.edu">rm905@columbia.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Deirdre	A.	Royster -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/deirdre-royster@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Deirdre	A.	Royster</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>New York University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New York
                <br/>--<br/>
                <a href="https://wagner.nyu.edu/community/faculty/deirdre-royster" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:dr101@nyu.edu">dr101@nyu.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->



    <!-- 2nd Row *****************************---->

      <!-- Abel		Valenzuela, Jr. -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/placeholder-avi@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Abel		Valenzuela, Jr.</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>UCLA<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i> California
                <br/>--<br/>
                <a href="http://www.chavez.ucla.edu/content/abel-valenzuela-jr" target="_blank">Professional Background</a>
                <a mailto="mailto:abel@irle.ucla.edu">abel@irle.ucla.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

</div>
<!--end of masonry container-->
