


<div class="masonry__container">
    <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3"></div>


    <!-- 1st Row *****************************---->

      <!-- Ben		Carrington -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/ben-carrington@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Ben		Carrington</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Southern California<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>California
                <br/>--<br/>
                <a href="http://annenberg.usc.edu/faculty/communication-journalism/ben-carrington" target="_blank">Professional Background</a>
                <a mailto="mailto:kenneth.anderson@howard.edu">carringb@usc.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Yoonsun		Choi -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/yoonsun-choi.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Yoonsun		Choi</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Chicago<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Illinois
                <br/>--<br/>
                <a href="https://ssascholars.uchicago.edu/ychoi/biocv" target="_blank">Professional Background</a>
                <a mailto="mailto:yoonsun@uchicago.edu">yoonsun@uchicago.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Asian American</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Pacific Islander</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- E.J.	Ramos	David -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/ejr-david@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>E.J.	Ramos	David</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Alaska Anchorage<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Alaska
                <br/>--<br/>
                <a href="https://www.uaa.alaska.edu/academics/college-of-arts-and-sciences/departments/psychology/faculty/david.cshtml" target="_blank">Professional Background</a>
                <a mailto="mailto:edavid8@alaska.edu">edavid8@alaska.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Asian American</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Pacific Islander</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Otima		Doyle -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/otima-doyle@2x", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Otima		Doyle</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Illinois Chicago<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Illinois
                <br/>--<br/>
                <a href="https://socialwork.uic.edu/facultyandstaff/otima-doyle" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:doyleo@uic.edu">doyleo@uic.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->



    <!-- 2nd Row *****************************---->

      <!-- Robert		Dunigan -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black, Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/robert-dunigan@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Robert		Dunigan</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Brandeis University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Massachusetts
                <br/>--<br/>
                <a href="http://heller.brandeis.edu/facguide/person.html?emplid=2a85d63202c15b3cb28aa7c7a4537eba43940997" target="_blank">Professional Background</a>
                <a mailto="mailto:dunigan@brandeis.edu">dunigan@brandeis.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Jessica		Elm -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Native American">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/jessica-elm@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Jessica		Elm</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Washington<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Washington
                <br/>--<br/>
                <a href="https://socialwork.uw.edu/programs/phd/graduates/jessica-elm" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:jelm@uw.edu">jelm@uw.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Native American</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Terence		Fitzgerald -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino, Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/terence-fitzgerald.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Terence		Fitzgerald</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Southern California<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>California
                <br/>--<br/>
                <a href="https://sowkweb.usc.edu/faculty/terence-fitzgerald" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:tdfitzge@usc.edu">tdfitzge@usc.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Vivian	L.	Gadsden -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/vivian-gadsden.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Vivian	L.	Gadsden</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Pennsylvania<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Pennsylvania
                <br/>--<br/>
                <a href="http://scholar.gse.upenn.edu/gadsden" target="_blank">Professional Background</a>
                <a mailto="mailto:viviang@gse.upenn.edu">viviang@gse.upenn.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->



    <!-- 3rd Row *****************************---->

      <!-- Ronald	L.	Jackson II -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black, Latino">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/ronald-jackson@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Ronald	L.	Jackson II</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Cincinnati<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Ohio
                <br/>--<br/>
                <a href="http://www.artsci.uc.edu/departments/communication/faculty-and-staff.html?eid=jacksrd" target="_blank">Professional Background</a>
                <a mailto="mailto:ronald.jackson@uc.edu">ronald.jackson@uc.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Sean		Joe -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/sean-joe@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Sean		Joe</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Washington University in St. Louis<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Missouri
                <br/>--<br/>
                <a href="https://brownschool.wustl.edu/Faculty-and-Research/Pages/Sean-Joe.aspx" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:sjoe@wustl.edu">sjoe@wustl.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Waldo	E.	Johnson, Jr. -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino, Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/waldo-johnson@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Waldo	E.	Johnson, Jr.</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Chicago<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Illinois
                <br/>--<br/>
                <a href="https://ssascholars.uchicago.edu/w-johnson/biocv" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:wejohnso@uchicago.edu">wejohnso@uchicago.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Ty	P.	Kāwika Tengan -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/ty-tengan@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Ty	P.	Kāwika Tengan</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Hawaiʻi at Mānoa<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Hawaii
                <br/>--<br/>
                <a href="http://www.anthropology.hawaii.edu/people/Faculty/Tengan/index.html" target="_blank">Professional Background</a>
                <a mailto="mailto:ttengan@hawaii.edu">ttengan@hawaii.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Asian American</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Pacific Islander</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->


    <!-- 4th Row *****************************---->

      <!-- Lloyd	L.	Lee -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Native American">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/lloyd-lee@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Lloyd	L.	Lee</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of New Mexico<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New Mexico
                <br/>--<br/>
                <a href="https://nas.unm.edu/faculty.html" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:triplel@unm.edu">triplel@unm.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Native American</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Michael	A.	Lindsey -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/michael-lindsey@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Michael	A.	Lindsey</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>New York University<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New York
                <br/>--<br/>
                <a href="http://socialwork.nyu.edu/our-faculty/full-time/michael-lindsey.html" target="_blank">Professional Background</a>
                <a mailto="mailto:michael.lindsey@nyu.edu">michael.lindsey@nyu.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Bryant		Marks -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/bryant-marks@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Bryant		Marks</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Morehouse College<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Georgia
                <br/>--<br/>
                <a href="http://www.morehouse.edu/academics/psychology/faculty.html" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:bryant.marks@morehouse.edu">bryant.marks@morehouse.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Jeffrey	Q.	McCune, Jr. -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/jeffrey-mccune@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Jeffrey	Q.	McCune, Jr.</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Washington University in St. Louis<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Missouri
                <br/>--<br/>
                <a href="https://wgss.artsci.wustl.edu/people/jeffrey-mccune" target="_blank">Professional Background</a>
                <a mailto="mailto:jmccune@wustl.edu">jmccune@wustl.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->


    <!-- 5th Row *****************************---->

      <!-- Kevin	L.	Nadal -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/kevin-nadal@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Kevin	L.	Nadal</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>John Jay College<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New York
                <br/>--<br/>
                <a href="https://www.jjay.cuny.edu/faculty/kevin-l-nadal" target="_blank">Professional Background</a>
                <a mailto="mailto:knadal@jjay.cuny.edu">knadal@jjay.cuny.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Pacific Islander</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Asian American</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Anthony	C.	Ocampo -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/anthony-ocampo@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Anthony	C.	Ocampo</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>CSU Polytechnic University, Pomona<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>California
                <br/>--<br/>
                <a href="http://anthonyocampo.com" target="_blank">Professional Background</a>
                <a mailto="mailto:acocampo@cpp.edu">acocampo@cpp.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!--Manuel		Pastor -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Latino, Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/manuel_pastor.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Manuel		Pastor</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Southern California<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>California
                <br/>--<br/>
                <a href="https://dornsife.usc.edu/pere/pastor" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:mpastor@usc.edu">mpastor@usc.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Latino</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- David	Wall	Rice -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/david-wall-rice.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>David	Wall	Rice</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>Morehouse College<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Georgia
                <br/>--<br/>
                <a href="http://www.dwallrice.com" target="_blank">Professional Background</a>
                <a mailto="mailto:David.Rice@morehouse.edu">David.Rice@morehouse.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

    <!-- 6th Row *****************************---->

      <!-- Stanley		Thangaraj -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Asian American, Pacific Islander">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/stanley-thangaraj@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Stanley		Thangaraj</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>City University of New York<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>New York
                <br/>--<br/>
                <a href="https://www.ccny.cuny.edu/profiles/stanley-thangaraj" target="_blank">Professional Background</a>
                <a mailto="mailto:sthangaraj@ccny.cuny.edu">sthangaraj@ccny.cuny.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Pacific Islander</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Asian American</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Daphne	C.	Watkins -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/daphne-watkins@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Daphne	C.	Watkins</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Michigan<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Michigan
                <br/>--<br/>
                <a href="https://ssw.umich.edu/faculty/profiles/tenure-track/daphnew" target="_blank">Professional Background</a>
                <a mailto="mailto:daphnew@umich.edu">daphnew@umich.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

      <!-- Alford 		Young Jr. -->
      <div class="masonry__item col-xs-12 col-sm-6 col-md-3 col-lg-3" data-masonry-filter="Black">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= image_tag("headshots/alfred-young@2x.png", alt:"Image", class:"image--round border--round")%>
            </div>
            <div class="card__body">
              <p>
                <strong>Alford 		Young Jr.</strong>
              </p>

              <p class="no-margin small">
                <i class="fas fa-sitemap type--fade icon-left"></i>University of Michigan<br/>
                <i class="fas fa-map-marker type--fade icon-left"></i>Michigan
                <br/>--<br/>
                <a href="https://lsa.umich.edu/soc/people/faculty/ayoun.html" target="_blank">Professional Background</a><br/>
                <a mailto="mailto:ayoun@umich.edu">ayoun@umich.edu</a>
              </p>
            </div>
            <div class="card__bottom">
              <span class="h6 no-margin type--fade">Focus Areas</span>
              <span class="label" style="position: inherit; bottom: 10px !important;">Black</span>
            </div>
          </div>
        </article>
      </div>
      <!--end item-->

</div>
<!--end of masonry container-->
