<style media="screen">
.card-1 .card__body {
  border-bottom: 1px solid #ececec;
   padding-bottom: 0.30em;
   margin-bottom: 0.65em;
}
.label {
  min-width: 0;
  font-size: 8.5px;
}
</style>


<div class="masonry__container">
    <div class="masonry__item col-sm-3"></div>

    <!-- *************** BEG 1 - 40 ***************** -->

    <!-- 1-4 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_1.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_1.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_1.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage, Males 18-34 by Race and Ethnicity, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_2.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_2.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_2.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage, Males 35-64 by Race and Ethnicity, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_3.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_3.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_3.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage, Males 65+ by Race and Ethnicity, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Asian, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_4.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_4.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_4.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage, Asian Males 18-34, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>

    <!-- 5-8 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Asian, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_5.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_5.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_5.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Asian Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Asian, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_6.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_6.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_6.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Asian Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: East Asian, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_7.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_7.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_7.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage East Asian Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: East Asian, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_8.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_8.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_8.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage East Asian Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>

    <!-- 9-12 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Race: East Asian, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_9.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_9.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_9.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage East Asian Males 65+, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Southeast Asian, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_10.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_10.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_10.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage Southeast Asian Males 18-34, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Southeast Asian, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_11.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_11.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_11.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Southeast Asian Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Southeast Asian, Ages: 65+">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= link_to '/downloads/png/health/RISE_Education_Batch2_12.png', class: "h5 download-link", download: '' do %>
               Download chart <i class="fas fa-cloud-download-alt"></i>
              <% end %>
            </div>
            <div class="card__body">
              <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_12.png")%>" data-lightbox="true">
                <%= image_tag("/downloads/png/health/RISE_Education_Batch2_12.png", alt:"Image")%>
              </a>
              <p>
                <strong>Health Insurance Coverage Southeast Asian Males 65+, United States</strong>
              </p>
              <h6 class="no-margin">
                 2011-2013
              </h6>
            </div>
        </article>
      </div>

    <!-- 13-16 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Race: South Asian, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_13.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_13.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_13.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage South Asian Males 18-34, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: South Asian, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_14.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_14.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_14.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage South Asian Males 35-64 , United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: South Asian, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_15.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_15.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_15.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage South Asian Males 65+, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Pacific Islander, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_16.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_16.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_16.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage Pacific Islander Males 18-34, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>

    <!-- 17-20 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Pacific Islander, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_17.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_17.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_17.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage Pacific Islander Males 35-64, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Pacific Islander, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_18.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_18.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_18.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage Pacific Islander Males 65+, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Polynesian, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_19.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_19.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_19.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Polynesian Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Polynesian, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_20.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_20.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_20.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Polynesian Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>

    <!-- 21-24 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Polynesian, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_21.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_21.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Polynesian Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Melanesian, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_22.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_22.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Melanesian Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Melanesian, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_23.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_23.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_23.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Melanesian Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Melanesian, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_24.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_24.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_24.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Melanesian Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>



        <!-- 25-28 -->

        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Melanesian, Ages: 18-34">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_25.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_25.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_25.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Melanesian Males 18-34, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
            </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Melanesian, Ages: 35-64">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_26.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_26.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_26.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Melanesian Males 35-64, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Melanesian, Ages: 65+">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_27.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_27.png")%>" data-lightbox="true">
                  <%= image_tag("/downloads/png/health/RISE_Education_Batch2_27.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Melanesian Males 65+, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Hispanic/Latino, Ages: 18-34">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_28.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_28.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_28.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Hispanic/Latino Males 18-34, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>

        <!-- 29-32 -->

        <div class="masonry__item col-sm-3" data-masonry-filter="Region: Hispanic/Latino, Ages: 35-64">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_29.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_29.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_29.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Hispanic/Latino Males 35-64, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
            </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Hispanic/Latino, Ages: 65+">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_30.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_30.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_30.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Hispanic/Latino Males 65+, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Carribean, Ages: 18-34">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_31.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_31.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_31.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Carribean Males 18-34, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Carribean, Ages: 35-64">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_32.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_32.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_32.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Carribean Males 35-64, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>

        <!-- 33-36 -->

        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Carribean, Ages: 65+">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_33.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_33.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_33.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Carribean Males 65+, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
            </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Central American, Ages: 18-34">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_34.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_34.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_34.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Carribean Males 18-34, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Central American, Ages: 35-64">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_35.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_35.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_35.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Central American Males 35-64, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: Central American, Ages: 65+">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_36.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_36.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_36.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage Central American Males 65+, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>

        <!-- 37-40 -->

        <div class="masonry__item col-sm-3" data-masonry-filter="Race: South American, Ages: 18-34">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_37.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_37.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_37.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage South American Males 18-34, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
            </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: South American, Ages: 35-64">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_38.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_38.png")%>" data-lightbox="true">
                  <%= image_tag("/downloads/png/health/RISE_Education_Batch2_38.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage South American Males 35-64, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: South American, Ages: 65+">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_39.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_39.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_39.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage South American Males 65+, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>
        <div class="masonry__item col-sm-3" data-masonry-filter="Race: American Indian, Ages: 18-34">
          <article class="feature feature-1">
            <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
              <div class="card__top">
                <%= link_to '/downloads/png/health/RISE_Education_Batch2_40.png', class: "h5 download-link", download: '' do %>
                 Download chart <i class="fas fa-cloud-download-alt"></i>
                <% end %>
              </div>
              <div class="card__body">
                <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_40.png")%>" data-lightbox="true">
                	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_40.png", alt:"Image")%>
                </a>
                <p>
                  <strong>Health Insurance Coverage American Indian Males 18-34, United States</strong>
                </p>
                <h6 class="no-margin">
                   2011-2013
                </h6>
              </div>
          </article>
        </div>


      <!-- *************** END 1 - 40 ***************** -->







  <!-- *************** BEG 41 - 60 ***************** -->

    <!-- 41-44 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Race: American Indian, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_41.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_41.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_41.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage American Indian Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: American Indian, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_42.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_42.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_42.png", alt:"Image")%>
            </a>
              <p>
              <strong>Health Insurance Coverage American Indian Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Alaskan Indian, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_43.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_43.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_43.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Alaskan Indian Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Alaskan Indian, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_44.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_44.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_44.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Alaskan Indian Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>


    <!-- 45-48 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Race: Alaskan Indian, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_45.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_45.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_45.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Alaskan Indian Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Great Plains, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_46.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_46.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_46.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Great Plains Region Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Great Plains, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_47.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_47.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_47.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Great Plains Region Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Great Plains, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_48.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_48.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_48.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Great Plains Region Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>

    <!-- 49-52 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Rocky Mountains, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_49.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_49.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_49.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Rocky Mountains Region Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Rocky Mountains, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_50.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_50.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_50.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Rocky Mountains Region Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Rocky Mountains, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_51.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_51.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_51.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Rocky Mountains Region Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Eastern OK, Ages: 18-34">
        <article class="feature feature-1">
          <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
            <div class="card__top">
              <%= link_to '/downloads/png/health/RISE_Education_Batch2_52.png', class: "h5 download-link", download: '' do %>
               Download chart <i class="fas fa-cloud-download-alt"></i>
              <% end %>
            </div>
            <div class="card__body">
              <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_52.png")%>" data-lightbox="true">
              	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_52.png", alt:"Image")%>
              </a>
              <p>
                <strong>Health Insurance Coverage Eastern OK Region Males 18-34, United States</strong>
              </p>
              <h6 class="no-margin">
                 2011-2013
              </h6>
            </div>
        </article>
      </div>

    <!-- 49-52 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Rocky Mountains, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_49.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_49.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_49.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Rocky Mountains Region, Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Rocky Mountains, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_50.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_50.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_50.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Rocky Mountains Region, Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Rocky Mountains, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_51.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_51.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_51.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Rocky Mountains Region Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Eastern OK, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_52.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_52.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_52.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Eastern OK Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>

    <!-- 53-57 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Eastern OK, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_53.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_53.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_53.png", alt:"Image")%>
            </a>
            <p>
              <strong>
                Health Insurance Coverage OK Region Males 35-64, United States
              </strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Eastern OK, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_54.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_54.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_54.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Eastern OK Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Midwest, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_55.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_55.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_55.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Midwest Region Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Midwest, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_56.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_56.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_56.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Midwest Region Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>

    <!-- 57-60 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Midwest, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_57.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_57.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_57.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Midwest Region, Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Eastern, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_58.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_58.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_58.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Eastern Region, Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Eastern, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_59.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_59.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_59.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Eastern Region, Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Eastern, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_60.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_60.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_60.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Eastern Region, Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>

    <!-- 61-64 -->

    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Navajo, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_61.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_61.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_61.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Navajo Region, Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
        </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Navajo, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_62.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_62.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_62.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Navajo Region, Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Navajo, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_63.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_63.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_63.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Navajo Region, Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Western, Ages: 18-34">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_64.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_64.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_64.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Western Region, Males 18-34, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>
    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Western, Ages: 35-64">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_65.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_65.png")%>" data-lightbox="true">
            	<%= image_tag("/downloads/png/health/RISE_Education_Batch2_65.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Western Region, Males 35-64, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>

    <div class="masonry__item col-sm-3" data-masonry-filter="Region: Western, Ages: 65+">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
            <%= link_to '/downloads/png/health/RISE_Education_Batch2_66.png', class: "h5 download-link", download: '' do %>
             Download chart <i class="fas fa-cloud-download-alt"></i>
            <% end %>
          </div>
          <div class="card__body">
            <a href="<%= image_url("/downloads/png/health/RISE_Education_Batch2_66.png")%>" data-lightbox="true">
              <%= image_tag("/downloads/png/health/RISE_Education_Batch2_66.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Western Region, Males 65+, United States</strong>
            </p>
            <h6 class="no-margin">
               2011-2013
            </h6>
          </div>
      </article>
    </div>


</div>
<!-- end of masonry container-->
