<style media="screen">
.card-1 .card__body {
  border-bottom: 1px solid #ececec;
   padding-bottom: 0.30em;
   margin-bottom: 0.65em;
}
.label {
  min-width: 0;
  font-size: 8.5px;
}
</style>


<div class="masonry__container">
    <div class="masonry__item col-sm-4"></div>


    <div class="masonry__item col-sm-4" data-masonry-filter="U.S., Age: 18-34, Health Insurance Coverage">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("data-center/health/1.png")%>" data-lightbox="true">
            	<%= image_tag("data-center/health/1.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Males 18-34 by Race/Ethnicity, United States </strong>
            </p>
            <h6 class="no-margin">
              2011-2013
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">U.S.</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">18-34</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Health Insurance Coverage</span>
          </div>
        </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="U.S., Age: 35-64, Health Insurance Coverage">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("data-center/health/2.png")%>" data-lightbox="true">
            	<%= image_tag("data-center/health/2.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Males 35-64 by Race/Ethnicity,United States
            </p>
            <h6 class="no-margin">
              2011-2013
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">U.S.</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">35-64</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Health Insurance Coverage</span>
          </div>
      </article>
    </div>
    <!--end item-->
    <div class="masonry__item col-sm-4" data-masonry-filter="U.S., Age: 65+, Health Insurance Coverage">
      <article class="feature feature-1">
        <div class="card card-1 boxed boxed--sm boxed--border box-shadow-light">
          <div class="card__top">
          </div>
          <div class="card__body">
            <a href="<%= image_url("data-center/health/3.png")%>" data-lightbox="true">
            	<%= image_tag("data-center/health/3.png", alt:"Image")%>
            </a>
            <p>
              <strong>Health Insurance Coverage Males 65+ by Race/Ethnicity,
                United States</strong>
            </p>
            <h6 class="no-margin">
              2011-2013
            </h6>
          </div>
          <div class="card__bottom">
            <span class="label" style="position: inherit; bottom: 10px !important;">U.S.</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">65+</span>
            <span class="label" style="position: inherit; bottom: 10px !important;">Health Insurance Coverage</span>
          </div>
      </article>
    </div>
    <!--end
</div>
<!-- end of masonry container-->
