<section class="unpad">
  <div class="imagebg bg-gradient-issue-brief-post text-center height-50" data-overlay="9">
    <div class="background-image-holder">
      <%= image_tag("fieldscans/fs1/hero.jpg") %>
    </div>
    <div class="container">
      <br/><br/><br/>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h4 class="title-font-alt">Fieldscans</h4>
            <hr/>
            <h1>  The Intersection of the Criminal Justice,
              Education, and Mental Healthcare Systems
              and Its Influence on Boys and Young
              Men of Color<h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="switchable feature-large">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 1</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">The Intersection of the Criminal Justice, Education, and Mental Healthcare Systems and Its Influence on Boys and Young Men of Color</h2>
            <h4 class="">
              [R]acial/ethnic minority youth and youth diagnosed with mental illness are more likely
              to come into contact with the police and subsequently be involved in the juvenile justice
              system. As one would expect from the statistics, youth of color who are also diagnosed with
              a mental illness experience a form of “double jeopardy” when it comes to risk
              for incarceration.
            </h4>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs1/fs1.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>





<section class="switchable feature-large">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 2</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">Breaking Free from the Web of Violence: Asset-Based Approaches for Boys & Men of Color</h2>
            <h4 class="">
              [R]acial/ethnic minority youth and youth diagnosed with mental illness are more likely
              to come into contact with the police and subsequently be involved in the juvenile justice
              system. As one would expect from the statistics, youth of color who are also diagnosed with
              a mental illness experience a form of “double jeopardy” when it comes to risk
              for incarceration.
            </h4>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs2/fs2.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>






<section class="switchable feature-large">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 3</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">Physical and Mental Health Interventions for Black Men in the United States</h2>
            <h4 class="">
              [R]acial/ethnic minority youth and youth diagnosed with mental illness are more likely
              to come into contact with the police and subsequently be involved in the juvenile justice
              system. As one would expect from the statistics, youth of color who are also diagnosed with
              a mental illness experience a form of “double jeopardy” when it comes to risk
              for incarceration.
            </h4>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs3/fs3.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>








<section class="switchable feature-large">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 4</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">The Status of Evaluation and Research on Effective Interventions Serving Boys and Men of Color</h2>
            <h4 class="">
              [R]acial/ethnic minority youth and youth diagnosed with mental illness are more likely
              to come into contact with the police and subsequently be involved in the juvenile justice
              system. As one would expect from the statistics, youth of color who are also diagnosed with
              a mental illness experience a form of “double jeopardy” when it comes to risk
              for incarceration.
            </h4>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs4/fs4.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>






<section class="space--sm switchable switchable--switch">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= image_tag("rise_assets/about/about-2.png", class: "box-shadow-wide")%>
      </div>
      <div class="col-sm-6 col-md-5">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Our Research</h4>
          <hr class="" style="width: 20%;"/>
          <h2 class="color--orange">Our research spans five domains</h2>
          <h4 class="">
            Education, health, human services and social policy, juvenile and criminal justice, and workforce development.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
