<section class="unpad">
  <div class="imagebg bg-gradient-issue-brief-post text-center height-50" data-overlay="9">
    <div class="background-image-holder">
      <%= image_tag("fieldscans/fs1/hero.jpg") %>
    </div>
    <div class="container">
      <br/><br/><br/>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
          <div class="article__title">
            <h4 class="title-font-alt">filling the gap of research</h4>
            <hr/>
            <h1>A scan of <i>grey literature</i> to build a deeper understanding of problems and solutions for boys and men of color.<h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Fieldscan 1 -->
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h4 class="color--orange title-font-alt"> introduction</h4>
        <hr class="left" style="width: 20%;"/>
        <h1 class="color--orange">
          Identifying the voices rarely or never heard.
        </h1>
        <h4>
          Authored by leading social science scholars and researchers, Field Scans provide a comprehensive review and exploration of interventions and recommendations for RISE ethnic groups and discipline areas. These reports incorporate “grey literature”— research that is not disseminated in traditional academic. Examples of grey literature include peer-review journals, government reports, program evaluation reports, and unpublished dissertations.
        </h4>

      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-sm-12">
            <br/><br/><br/>
            <div class="switchable__text">
              <div class="row boxed boxed--sm box-shadow-light">
                <h4 class="title-font-alt text-center no-margin">Fieldscans 1-8</h4>
                <hr class=" margin-top-10"/>
                <div class="row">
                  <div class="col-sm-6">
                    <ol class="h4">
                      <li>
                        <%= link_to fieldscans_fs1_path, class: "" do %>
                          The Intersection of the Criminal Justice, Education, and Mental Healthcare Systems and Its Influence on Boys and Young Men of Color
                        <% end %>
                      </li>
                      <li>
                        <%= link_to fieldscans_fs2_path, class: "" do %>
                          Breaking Free from the Web of Violence: Asset-Based Approaches for Boys & Men of Color
                        <% end %>
                      </li>
                      <li>
                        <%= link_to fieldscans_fs3_path, class: "" do %>
                          Physical and Mental Health Interventions for Black Men in the United States
                        <% end %>
                      </li>
                      <li>
                        <%= link_to fieldscans_fs4_path, class: "" do %>
                          The Status of Evaluation and Research on Effective Interventions Serving Boys and Men of Color
                        <% end %>
                      </li>
                    </ol>
                  </div>
                  <div class="col-sm-6">
                    <ol class="h4" start="5">
                      <li>
                        <%= link_to fieldscans_fs5_path, class: "" do %>
                          Masculinities Matter: The Role of Masculinities in Depression, Suicide, and Substance Abuse Among African American, Hispanic/Latino, and Alaska Native/ American Indian Boys and Men
                        <% end %>
                      </li>
                      <li>
                        <%= link_to fieldscans_fs6_path, class: "" do %>
                          Latino boys and men: Advancing scholarship and community-based solutions
                        <% end %>
                      </li>
                      <li>
                        <%= link_to fieldscans_fs7_path, class: "" do %>
                          A Study of Indigenous Boys and Men
                        <% end %>
                      </li>
                      <li>
                        <%= link_to fieldscans_fs8_path, class: "" do %>
                          A Review of Economic Opportunity and Criminal Justice Programs for Boys and Men of Color
                        <% end %>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Fieldscan 1 -->
<section class="switchable feature-large bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 1</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">The Intersection of the Criminal Justice, Education, and Mental Healthcare Systems and Its Influence on Boys and Young Men of Color</h2>
            <h4 class="">
              Racial/ethnic minority youth and youth diagnosed with mental illness are more likely to come into contact with the police and subsequently be involved in the juvenile justice system. As one would expect from the statistics, youth of color who are also diagnosed with a mental illness experience a form of “double jeopardy” when it comes to risk for incarceration.
            </h4>
            <p>
              <%= link_to "View Report", fieldscans_fs1_path, class: "btn btn-sm" %>
            </p>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs1/fs1.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>


<!-- Fieldscan 2 -->
<section class="switchable feature-large">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 2</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">Breaking Free from the Web of Violence: Asset-Based Approaches for Boys & Men of Color</h2>
            <h4 class="">
              Given the high burden of violence on boys and men of color, it should be a priority to understand the factors contributing to violence exposure and involvement, and evaluate programs that might reduce this burden. As described in more detail below, strengths-based approaches hold particular promise for alleviating the burden of violence. It is the purpose of this paper to review existing knowledge on strengths-based approaches for boys and men of color.
            </h4>
            <p>
              <%= link_to "View Report", fieldscans_fs2_path, class: "btn btn-sm" %>
            </p>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs2/fs2.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>


<!-- Fieldscan 3 -->
<section class="switchable feature-large bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 3</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">Physical and Mental Health Interventions for Black Men in the United States</h2>
            <h4 class="">
              Given the high burden of violence on boys and men of color, it should be a priority to understand the factors contributing to violence exposure and involvement, and evaluate programs that might reduce this burden. As described in more detail below, strengths-based approaches hold particular promise for alleviating the burden of violence. It is the purpose of this paper to review existing knowledge on strengths-based approaches for boys and men of color.
            </h4>
            <p>
              <%= link_to "View Report", fieldscans_fs3_path, class: "btn btn-sm" %>
            </p>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs3/fs3.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>


<!-- Fieldscan 4 -->
<section class="switchable feature-large">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 4</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">The Status of Evaluation and Research on Effective Interventions Serving Boys and Men of Color</h2>
            <h4 class="">
              Inequities in social determinants of health—the many dimensions that contribute to overall quality of life including education, criminal justice, economic opportunity, and workforce development—are a major driver of health inequities. Among these, educational attainment (or lack thereof) has consistently been demonstrated to have one of the strongest associations with long-term health and quality of life outcomes.
            </h4>
            <p>
              <%= link_to "View Report", fieldscans_fs4_path, class: "btn btn-sm" %>
            </p>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs4/fs4.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>


<!-- Fieldscan 5 -->
<section class="switchable feature-large bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 5</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">Masculinities Matter: The Role of Masculinities in Depression, Suicide, and Substance Abuse Among African American, Hispanic/Latino, and Alaska Native/ American Indian Boys and Men</h2>
            <h4 class="">
              Underutilization of healthcare minimizes opportunities for early detection and preventive interventions that could improve chronic disease and mental health outcomes in boys and men of color (BMOC). To be certain, healthcare underutilization among BMOC is not purely a consequence of limited insurance or access, but rather it is driven by broader social determinants (e.g., education, housing, transportation, neighborhood conditions, and income).
            </h4>
            <p>
              <%= link_to "View Report", fieldscans_fs5_path, class: "btn btn-sm" %>
            </p>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs5/fs5.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>


<!-- Fieldscan 6 -->
<section class="switchable feature-large">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 6</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">Latino boys and men: Advancing scholarship and community-based solutions</h2>
            <h4 class="">
              Developing culturally relevant human services for racial and ethnic minorities has become a national priority. However, understanding what works, how it works, and why it works within certain cultural-specific communities continues to be severely limited, despite efforts of professional fields to promote multicultural practice. This limitation is only intensified when looking at the subpopulation of boys and men within communities of Color. One way to fill this gap is to utilize a cultural-specific framework to guide the scan of various sources of knowledge (e.g., academic literature and community-led products).
            </h4>
            <p>
              <%= link_to "View Report", fieldscans_fs6_path, class: "btn btn-sm" %>
            </p>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs6/fs6.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>


<!-- Fieldscan 7 -->
<section class="switchable feature-large bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 7</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">A Study of Indigenous Boys and Men</h2>
            <h4 class="">
              By many indicators and social markers, a large majority of Indigenous boys and men are struggling. But, as some are fond of saying, the devil is in the details. The available data tell a grim story about the past and present, but the “real story” of how American Indian boys and men are faring in the world is not fully told. Without discounting statistics, our fundamental point is that anyone interested in this work needs to have more systematic, structural data to get the full, complex, nuanced picture of what is happening.
            </h4>
            <p>
              <%= link_to "View Report", fieldscans_fs7_path, class: "btn btn-sm" %>
            </p>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs7/fs7.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>


<!-- Fieldscan 8 -->
<section class="switchable feature-large">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="switchable__text">
          <h4 class="color--orange title-font-alt">Fieldscan 8</h4>
          <hr class="" style="width: 20%;"/>
            <h2 class="color--orange">A Review of Economic Opportunity and Criminal Justice Programs for Boys and Men of Color</h2>
            <h4 class="">
              Communities with limited economic opportunity tend to have higher rates of incarceration. Involvement in the criminal justice system decreases the likelihood of graduating from high school and gaining employment, and increases the chances of future involvement in the criminal justice system. It is a dismal cycle.
            </h4>
            <p>
              <%= link_to "View Report", fieldscans_fs8_path, class: "btn btn-sm" %>
            </p>
        </div>
      </div>
      <div class="col-sm-3">
        <br/><br/><br/>
        <%= image_tag("fieldscans/fs8/fs8.png", class: "box-shadow-light")%>
      </div>
    </div>
  </div>
</section>
