<section class="cta cta-4 bg--secondary box-shadow-light unpad height-10 ">
   <div class="bar color--primary " data-scroll-class="1200px:pos-fixed">
     <div class="container">
       <div class="row">
         <div class="col-sm-12 text-center">
           <div class="bar__module">
             <ul class="menu-horizontal h4">
               <li>
                 <%= link_to data_center_education_path, class: "inner-link" do %>
                   Education
                 <% end %>
               </li>
               <li>
                 <%= link_to data_center_workforce_development_path, class: "inner-link" do %>
                   Workforce Development
                 <% end %>
               </li>
               <li>
                 <%= link_to data_center_health_path, class: "inner-link" do %>
                   Health & Human Services
                 <% end %>
               </li>
               <li class="active">
                 <%= link_to data_center_criminal_justice_path, class: "inner-link" do %>
                   Criminal Justice
                 <% end %>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
   <div class="masonry">
     <div class="bg--white box-shadow" style="padding: 20px 0;">
       <div class="container">
         <div class="row">
           <div class="col-md-6">
             <p class="no-margin">By Domain</p>
             <h2 class="title-font-alt">Criminal Justice</h4>
               <div class="modal-instance">
                 <a href="#" class="btn btn-sm modal-trigger">Methodology</a>
                 <div class="modal-container">
                   <div class="modal-content">
                    <div class="boxed boxed--lg" style="padding: 50px 100px;">
                      <h3 class="text-bold">Research Methodology</h3>
                      <hr class="short">

                      <h4 class="text-bold no-margin">Description of the Data</h4>
                      <p>
                        The estimated proportion of incarceration data by US demographic for men 18 years old and over, disaggregated by race, ethnicity and state.
                      </p>

                      <p>
                        Pie Chart 1. Total proportions reported by race/ethnicity are the estimates of men greater than 18 divided by the total US male population over 18 as reported in the American Community Survey from 2007-2011.
                      </p>

                      <p>
                        Pie Chart 2. The first set of custody data is the proportion of males over 18 in custody by race/ethnicity divided by their total US demographic population by race/ethnicity.
                      </p>

                      <p>Pie Chart 3. The second set of custody data represents Proportion 2 divided by Proportion 1.</p>

                      <h4 class="text-bold no-margin">Data Source</h4>
                      <p class="">
                        Incarceration data was retrieved from ICPSR 34540 National Prisoner Statistics, 1978-­2011 available for download from the Inter-university Consortium for Political and Social Research (<a href="https://www.icpsr.umich.edu/icpsrweb/NACJD/studies/34540">ICPSR</a>).
                      </p>
                      <p>Demographic data from 2007-2011 was retrieved form Table DP05 of the American Community Survey available for download on the <a href="https://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml">American FactFinder Website</a>.</p>

                      <h4 class="text-bold no-margin">Notes</h4>
                      <p class="">
                        The determination of race and Hispanic origin differs across states. In some states DOCs, inmates are asked to self-­identify race and ethnicity at time of admission, some rely on information in the arrest or court documents accompanying the prisoner at admission, in others prison officials classify the inmates visually upon entrance to the facility. Based on comparisons of race and ethnicity data recorded on administrative records from the NPS and inmate self-identification data obtained from inmate surveys, Hispanic inmates and inmates identifying as more than one race are underrepresented in the NPS. BJS uses the inmate surveys to adjust for the NPS undercount in its <a href="https://www.bjs.gov/index.cfm?ty=pbse&sid=40">annual Prisoners reports</a>. NPS race and ethnicity data available to the public at the National Archive of Criminal Justice Data (<a href="https://www.icpsr.umich.edu/icpsrweb/content/NACJD/index.html">NACJD</a>) are the unadjusted counts originally reported by the states.
                      </p>
                    </div>
                    <div class="modal-close modal-close-cross"></div>
                  </div>
                 </div>
               </div>
           </div>
           <div class="col-md-6">
             <div class="masonry-filter-container pull-right margin-top-10">
               <span class="title-font-alt">Research Filters:</span>
               <div class="masonry-filter-holder bg--grey">
                  <div class="masonry__filters color--white" data-filter-all-text="View All"></div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>


     <div class="row bg--grey" style="padding-bottom: 100px;">
       <div class="container">
         <br/><br/>

         <!-- <div class="col-md-3 hidden-sm">
           <%#= render "data_center/topic/justice/sidebar" %>
         </div> -->
         <div class="row">
          <%= render "data_center/topic/justice/search_results" %>
         </div>
        </div>
      </div>
    </div>
  </div>
 </section>
