<style>
.bg--white {
  background-color: rgba(255, 255, 255, .5);
}
.card {
  border-radius: 6px;
}
</style>


<section class="imagebg height-100 text-center" data-gradient-bg="#5f2c82,#49a09d,#F3A183,#5f2c82">
    <div class="background-image-holder">
        <%= image_tag("rise_assets/coming-soon/data-center.png") %>
    </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <p class="text-center col-md-8 col-md-offset-2">
        <%= image_tag("rise_assets/home/hero/logo/rise-logo/rise-logo.png", class: "col-md-4 col-md-offset-4")%>
      </p>
    </div>
    <br/>
    <h1 class="text-center title-font-alt">Research Data Center</h1>
    <br/>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h4 class="text-center">
          This repository organizes hundreds of downloadable open-source charts, graphs,
          and images. Enter the Data Center to get high resolution graphics of finely
          disaggregated community data for your review or to include in your own reports
          and proposals.
        </h4>
      </div>
    </div>
    <hr class="center" style="width: 20%;"/>
    <div class="row">
      <div class="col-sm-3 masonry__item">
        <%= link_to data_center_education_path class: "block" do %>
          <div class="card card-2 text-center bg--white box-shadow-light">
            <div class="card__top">
                <%= image_tag("stock/latino.jpg") %>
            </div>
            <div class="card__bottom text-center color--faded">
              <h4 class="title-font-alt no-margin">Education</h4>
              <p>Explore the Data</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-3 masonry__item">
        <%= link_to data_center_health_path class: "block" do %>

          <div class="card card-2 text-center bg--white box-shadow-light">
            <div class="card__top">
              <%= image_tag("stock/black.jpg") %>
            </div>
            <div class="card__bottom text-center color--faded">
              <h4 class="title-font-alt no-margin">Health</h4>
              <p>Explore the Data</p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-sm-3 masonry__item">
        <%= link_to data_center_criminal_justice_path class: "block" do %>
          <div class="card card-2 text-center bg--white box-shadow-light">
          <div class="card__top">
            <%= image_tag("stock/asian.jpg") %>
          </div>
          <div class="card__bottom text-center color--faded">
            <h4 class="title-font-alt no-margin">Justice</h4>
            <p>Explore the Data</p>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-sm-3 masonry__item">
        <%= link_to data_center_workforce_development_path class: "block" do %>
          <div class="card card-2 text-center bg--white box-shadow-light">
            <div class="card__top">
                <%= image_tag("stock/native-indian.jpg") %>
            </div>
            <div class="card__bottom text-center color--faded">
              <h4 class="title-font-alt no-margin">Workforce</h4>
              <p>Explore the Data</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</section>
