<section class="cta cta-4 bg--secondary box-shadow-light unpad height-10 ">
   <div class="bar color--primary " data-scroll-class="1200px:pos-fixed">
     <div class="container">
       <div class="row">
         <div class="col-sm-12 text-center">
           <div class="bar__module">
             <ul class="menu-horizontal h4">
               <li>
                 <%= link_to data_center_education_path, class: "inner-link" do %>
                   Education
                 <% end %>
               </li>
               <li class="active">
                 <%= link_to data_center_workforce_development_path, class: "inner-link" do %>
                   Workforce Development
                 <% end %>
               </li>
               <li>
                 <%= link_to data_center_health_path, class: "inner-link" do %>
                   Health & Human Services
                 <% end %>
               </li>
               <li>
                 <%= link_to data_center_criminal_justice_path, class: "inner-link" do %>
                   Criminal Justice
                 <% end %>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
   <div class="masonry">
     <div class="bg--white box-shadow" style="padding: 20px 0;">
       <div class="container">
         <div class="row">
           <div class="col-md-6">
             <p class="no-margin">By Domain</p>
             <h2 class="title-font-alt">Workforce Development</h2>
             <div class="modal-instance">
               <a href="#" class="btn btn-sm modal-trigger">Methodology</a>
              	<div class="modal-container">
              		<div class="modal-content">
                    <div class="boxed boxed--lg" style="padding: 50px 100px;">
                      <h3 class="text-bold">Research Methodology</h3>
                      <hr class="short">

                      <h4 class="text-bold no-margin">Description of the Data</h4>
                      <p>
                        The estimated percentage of employment status for men 16 years old and over,
                        disaggregated by race and ethnicity subgroups. Responses are classified as those who
                        are in labor force which include in Armed Forces and Civilian as employed or
                        unemployed.
                      </h4>

                      <p>
                        Employed includes all civilians 16 years old and over who either a) were at work or b) were
                        with a job but not at work. Excluded from the employed are people whose only activity consisted
                        of work around the house or unpaid volunteer work for religious, charitable, and similar organizations.
                        Also excluded are all institutionalized people and people on active duty in the United States Armed
                        Forces. Unemployed includes all civilians 16 years old and over who either a) were neither “at work”
                        nor “with a job but not at work,” b) were actively looking for work during the last 4 weeks, and/or c)
                        were available to start a job.
                      </p>

                      <p>
                        Military includes civilian labor force plus members of the U.S. Armed Forces (people on active duty
                        with the United States Army, Air Force, Navy, Marine Corps, or Coast Guard)
                      </p>

                      <h4 class="text-bold no-margin">Data Source</h4>
                      <p class="">
                        Data was retrieved from Table B23001 of the 2006-2010 American Community Survey available for
                        download on the <a href="https://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml">American FactFinder Website</a>.
                      </p>

                      <h4 class="text-bold no-margin">Notes</h4>
                      <p class="">
                        <strong class="type--fade">Limitations of data:</strong> The data may understate the number of employed people because people who have
                        irregular, casual, or unstructured jobs sometimes report themselves as not working. The number of
                        employed people “at work” is probably overstated in the data (and conversely, the number of employed
                        “with a job, but not at work” is understated) since some people on vacation or sick leave erroneously
                        reported themselves as working. This problem has no effect on the total number of employed people.
                      </p>

                      <p>For more information on the description of the data and comparability with earlier versions of the survey,
                        see the <a href="https://www2.census.gov/programs-surveys/acs/tech_docs/subject_definitions/2010_ACSSubjectDefinitions.pdf">ACS 2010 Subject Definitions documentation</a>.</p>

                      </p>
                    </div>
                    <div class="modal-close modal-close-cross"></div>
              		</div>
              	</div>
              </div><!--end of modal instance-->
           </div>
           <div class="col-md-6">
             <div class="masonry-filter-container pull-right margin-top-10">
               <span class="title-font-alt">Research Filters:</span>
               <div class="masonry-filter-holder bg--grey">
                  <div class="masonry__filters color--white" data-filter-all-text="View All"></div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>

     <div class="row bg--grey" style="padding-bottom: 100px;">
       <div class="container">
         <br/><br/>
       <!-- <div class="col-md-3 hidden-sm">
         <%#= render "data_center/topic/workforce/sidebar" %>
       </div> -->
       <div class="row">
        <%= render "data_center/topic/workforce/search_results" %>
       </div>
      </div>
    </div>
  </div>
 </section>
