<%= render "data_center/topic/workforce/header"%>

<section class="cta cta-4 bg--dark unpad">
   <div class="bar color--primary" data-scroll-class="600px:pos-fixed" style="width: 100%; z-index: 9999; top: 0;">
     <div class="container">
       <div class="row">
         <div class="col-sm-12">
           <div class="bar__module">
             <ul class="menu-horizontal h4">
               <li >
                 <%= link_to data_center_education_path, class: "inner-link" do %>
                   Education
                 <% end %>
               </li>
               <li class="active">
                 <%= link_to data_center_workforce_development_path, class: "inner-link" do %>
                   Workforce Development
                 <% end %>
               </li>
               <li>
                 <%= link_to data_center_health_path, class: "inner-link" do %>
                   Health & Human Services
                 <% end %>
               </li>
               <li>
                 <%= link_to data_center_criminal_justice_path, class: "inner-link" do %>
                   Criminal Justice
                 <% end %>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <div class="masonry box-shadow">
   <div class="bar bg--white box-shadow" data-scroll-class="600px:pos-fixed" style="padding: 20px 0; width: 100%; z-index: 9999; top: 0; border-bottom: 1px solid #ccc;">
     <div class="container">

       <div class="row">
         <div class="col-md-6">
           <p class="no-margin">By Domain</p>
           <h2 class="title-font-alt">Workforce Development</h2>
         </div>
         <div class="col-md-6">
           <div class="masonry-filter-container pull-right margin-top-10">
             <span class="title-font-alt">Research Filters:</span>
             <div class="masonry-filter-holder bg--grey">
                <div class="masonry__filters color--white" data-filter-all-text="View All"></div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

     <div class="row bg--grey" style="padding-bottom: 100px;">
       <div class="container">
         <br/><br/>
       <!-- <div class="col-md-3 hidden-sm">
         <%#= render "data_center/topic/workforce/sidebar" %>
       </div> -->
       <div class="row">
        <%= render "data_center/topic/workforce/search_results" %>
       </div>
      </div>
    </div>
  </div>
 </section>
